﻿<%@ Page Title="::Bill Generation Step-3::" Language="C#" MasterPageFile="~/MasterPages/EDMUMS.Master" AutoEventWireup="true"
    CodeBehind="BillGenerationstep3.aspx.cs" Inherits="UMS_Nigeria.Billing.BillGenerationstep3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <div class="edmcontainer">
        <h3>
            Bill Generation
        </h3>
        <div class="clear pad_10">
            &nbsp;</div>
        <div class="consumer_feild">
            <div class="billing_step">
                Step 3
                <div class="billthanku_total">
                    <center class="bill_thnku">
                        Thank You</center>
                    <p class=" pad_10">
                    </p>
                    <p>
                        Thank You, Billing Process Inherited and Billing Will
                    </p>
                    <div class="clear pad_10">
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 50%;">
            <div class="fltl">
                <div class="chooslink">
                    <a href="#">Go to Home</a>
                </div>
            </div>
            <div class="fltr">
                <button class="calculate_but">
                    Go to Next Billing
                </button>
            </div>
        </div>
</asp:Content>
