@charset "utf-8";
/* CSS Document */
/* Blue*/
body{width:100%;height:max-height;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;padding:0px; margin:0px; font-family:"Verdana", Arial, Helvetica, sans-serif;}
a, a img{text-decoration:none; border:none 0px; color:#0078c5;} li{list-style-type:none;} 
.clear{clear:both;} .fltl{float:left;} .fltr{float:right;} .fltn{float:none !important;}
.marg_5{margin:5px;} .marg_10t{margin-top:10px;} .pad_2{padding:2px;} .pad_5{padding:5px;}  .pad_10{padding:10px;}
.clearfix:after {content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;} .clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
* html .clearfix {height: 1%;}
h1, h2, h3, h4{font-family:'Cuprum', arial, sans-serif; margin:0px; padding:0px;} 
.space{background-color:#fff; width:10px; height:1px;}
.space_1{background-color:#fff; width:10px; height:3px; }
.clr{ clear:both; }
.out-bor{margin:auto; width:98%; border:3px solid #61a5e6; margin-top:1%; border-radius:5px; margin-bottom:10px; padding-bottom:10px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; overflow:auto; }
.inner-sec{margin:auto; width:98%; }
.text_total{width:98%; float:left; margin-top:5px; margin-bottom:5px; clear:both; }
.text-heading{font-size:18px; color:#006600; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:bold; text-align:grileft; margin-left:10px; width:50%; clear:both;}
.star_text{color:#f00; font-family:"Verdana", Arial, Helvetica, sans-serif; font-size:12px; text-align:right; width:50%; float:right; margin-top:-17px; margin-right:-10px;}
.text-inner{font-size:90%; color:#426700; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:9px; }
.text-inner textarea{min-height:30px; height:auto;}
.span_star{font-size:100%; color:#f00; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:500; margin-left:5px; }
.span_color{font-size:80%; color:#f00; font-weight:500; margin-left:10px; margin-top:-7px; position:absolute; }
.text-inner-b{font-size:80%; color:#000; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:500; margin-top:2%; text-align:left; }
.dot-line{border:2px dotted #0e86f6; }
.inner-box{width:100%; margin-top:2%; height:auto; }
.inner-box-a1{width:100%; margin-top:2%; }
.inner-box-a2{width:100%; margin-top:2%;}
.inner-box1{width:30%; float:left; margin-left:1%; margin-right:2%;	}
.inner-box2{width:30%; height:auto; float:left; margin-right:2%; }
.inner-box3{width:30%; height:auto; float:left; }
.inner-box1a{width:30%; float:left; margin-right:2%; margin-left:1%;} 
.inner-box1b{width:30%; float:left; margin-top:29px; }
.inner-box1c{width:30%; float:left; margin-left:2%; margin-top:29px; }
.inner-box-a{width:100%; margin-top:2%; }
.select_box{height:32px !important;}
.text_area{height:auto!important; min-height:30px !important; }
.text-box{position:relative; width:60%; height:25px; border:1px solid #acd1e2;border-radius:5px;
background-color:background: #eef7fb; /* Old browsers */
background: -moz-linear-gradient(top,  #eef7fb 0%, #d9edf7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef7fb), color-stop(100%,#d9edf7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eef7fb 0%,#d9edf7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef7fb', endColorstr='#d9edf7',GradientType=0 ); /* IE6-9 */
font-size:80%; color:#000; font-family:"Verdana", Arial, Helvetica, sans-serif; text-align:left; padding-left:10px; padding-top:2px; margin-top:5px; margin-bottom:10px; }
input[type="radio"]{color:#f00 !important; }
.text-select{width:63% !important; height:35px !important; }
.text-ra{font-size:80%; color:#000; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:500; margin-top:2%; text-align:left; background-color:#f00; }
.list-heading{background-color:#7fbf4d; font-size:100%; color:#fff; font-family:"Verdana", Arial, Helvetica, sans-serif; padding:10px; border-radius:5px; border:1px solid #63a62f; float:left; margin-left:10px; margin-top:20px;}
.box_total{float:left; width:100%;}
.box_total_a{float:left; width:50%;}
.box_total_b{float:right; width:50%; margin-right:20px;}
.search_img{background-image:url("../../images/Search-icon.png"); padding-right:20px; background-repeat:no-repeat; clear:both; padding-top:-5px;}
.text-heading_2{font-size:100%; color:#006600; font-family:"Verdana", Arial, Helvetica, sans-serif; text-align:right; margin-top:-30px; margin-right:-18px;}
.text-heading_2 a{color:#006600; text-decoration:none;}
.text-heading_2 a:hover{color:#f00; text-decoration:underline;}
.box_s{color: #ffffff; /*text-shadow:0 1px black;*/position:relative; background-color: #5e7e00; padding: 7px 19px; border: 0; border-radius: 5px; background-image: -webkit-linear-gradient(top, #8cbb00, #638400); box-shadow:0px 5px 0px #2a4820, 0px 8px 5px rgba(0,0,0,0.3); text-decoration:none; font-family:"Verdana", Arial, Helvetica, sans-serif; font-size:12px; cursor:pointer; font-weight:bold; }
.box_s:hover{color: #ff0; top: 3px; background-color:#5e7e00; box-shadow:0px 2px 0px #223955, 0px 4px 3px rgba(0,0,0,0.3); font-weight:bold;}
.box_s1{color: #ffffff; text-shadow:0 1px black; position:relative; background-color: #5e7e00; padding: 5px 15px; border: 0; border-radius: 5px; background-image: -webkit-linear-gradient(top, #8cbb00, #638400); box-shadow:0px 5px 0px #2a4820, 0px 8px 5px rgba(0,0,0,0.3); text-decoration:none; font-family:"Verdana", Arial, Helvetica, sans-serif; font-size:12px; cursor:pointer; font-weight:bold; margin: 10px 172px auto auto;}
.box_s1 a{color: #ffffff; text-shadow:0 1px black; position:relative; background-color: #5e7e00; padding: 5px 15px; border: 0; border-radius: 5px; background-image: -webkit-linear-gradient(top, #8cbb00, #638400); box-shadow:0px 5px 0px #2a4820, 0px 8px 5px rgba(0,0,0,0.3); text-decoration:none; font-family:"Verdana", Arial, Helvetica, sans-serif; font-size:12px; cursor:pointer; font-weight:bold; margin: 10px 172px auto auto; clear:both;}
.box_s1 a:hover{color: #ff0; top: 3px; background-color:#5e7e00; box-shadow:0px 2px 0px #223955, 0px 4px 3px rgba(0,0,0,0.3);font-weight:bold;}
.grid_head{float:left; text-shadow: 1px 1px #bbb; line-height:15px; font-size:130%; color:#006600; font-family:"Verdana", Arial, Helvetica, sans-serif; font-weight:bold;}
.grid_paging_top{float:right; width:98%; font-family:"Verdana", Arial, Helvetica, sans-serif; color:#bbb; font-size:12px; margin-top:15px; margin-right:14px; margin-bottom:5px;}
.grid_paging_bottom{float:right; width:500px; font-family:"Verdana", Arial, Helvetica, sans-serif; color:#bbb; font-size:12px; margin-top:5px; margin-right:14px;}
.paging_top_title{color:#006600; float: left; font-family:"Verdana", Arial, Helvetica, sans-serif; font-size: 130%; font-weight: bold; text-align: left; text-shadow: 1px 1px #bbb; width: 50%;}
.paging_top_right_content{width: 50%; float: left;}











{
    background-color:#fff;
    width:10px;
    height:1px;
}
.space_1
{
    background-color:#fff;
    width:10px;
    height:3px;
}
.clr
{
   clear:both;
}
.out-bor{
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    border: 3px solid #61a5e6;
    border-radius: 5px;
    height: auto;
    margin: 1% auto 10px;
    padding-bottom: 10px;
    width: 98%;
    min-height:auto;
}
.inner-sec{
	margin:auto;
	width:98%;
	margin-top:1%;
}
.text-heading{
	font-size:130%;
	color:#066de8;
	font-family:regular;
	font-weight:bold;
}
.text-inner{
	font-size:100%;
	color:#0e86f6;
	font-family:regular;
	font-weight:bold;
}
.span_star{	
	font-size:100%;
	color:#f00;
	font-family:regular;
	font-weight:500;
	margin-left:5px;
}
.span_color{
	
	font-size:80%;
	color:#f00;
	font-family:regular;
	font-weight:500;
	margin-left:0px;
	margin-top:-12px;
	position:absolute;
}
  .star_text{
     color:#f00;
    font-family:regular;
    font-size:12px;	
    text-align:right;
    margin-top:-13px;  
    }
.text-inner-b{
	font-size:80%;
	color:#000;
	font-family:regular;
	font-weight:500;
	margin-top:2%;
	text-align:left;
}
.dot-line{
	border:2px dotted #0e86f6;
}
.inner-box{
	width:100%;
	margin-top:2%;
	height:auto;	
}
.inner-box-a1{
	width:100%;
	margin-top:2%;	
}
.inner-box-a2{
	width:100%;
	margin-top:2%;	
}
.inner-box1{
	width:30%;	
	float:left;
	margin-left:1%;
	margin-right:2%;	
}
.inner-box2{
	width:30%;
	height:auto;
	float:left;
	margin-right:2%;
}
.inner-box3{
	width:30%;
	height:auto;
	float:left;
}
.inner-box1a{
	width:30%;	
	float:left;
	margin-right:2%;
	margin-left:1%;	
}
.inner-box1b{
	width:30%;	
	float:left;	
	margin-top:29px;	
}
.inner-box1c{
	width:30%;	
	float:left;
	margin-left:2%;	
	margin-top:29px;	
}
.inner-box-a{
	width:100%;
	margin-top:2%;
}
.select_box{ height:30px !important;}
.text_area{ height:auto!important; min-height:30px !important; }
.text-box
{
    position:relative;
   	width:60%;
	height:25px;
	border:1px solid #d6e9c6;
	border-radius:5px;
	background-color:background: #eef7fb; /* Old browsers */
background: -moz-linear-gradient(top,  #eef7fb 0%, #d9edf7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef7fb), color-stop(100%,#d9edf7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eef7fb 0%,#d9edf7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eef7fb 0%,#d9edf7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef7fb', endColorstr='#d9edf7',GradientType=0 ); /* IE6-9 */


font-size:80%;
	color:#000;
	font-family:regular;
	font-weight:500;
	text-align:left;
	padding-left:10px;
	padding-top:2px;
	margin-top:5px;
	}

input[type="radio"] {
    color:#f00 !important;
}
.text-select{
	width:63% !important;
	height:35px !important; 
}
.text-ra {
   font-size:80%;
	color:#000;
	font-family:regular;
	font-weight:500;
	margin-top:2%;
	text-align:left;
	background-color:#f00;
}
.list-heading{
	background-color:#61a5e6;
	font-size:100%;
	color:#fff;
	font-family:regular;
	padding:10px;
	border-radius:5px;
	border:1px solid #7aaee6;
	float:left;
	margin-left:10px;
	margin-top:20px;
}
.box_s{
	margin:auto;
	background-color:#61a5e6;
	font-size:80%;
	color:#fff;
	font-family:regular;
	padding:3px;
	border-radius:5px;
	border:1px solid #63a62f;
	margin-left: 48px;
	margin-top: 10px;
	font-weight:bold;
}
.box_s a{
	margin:auto;
	float:right;
	font-size:100%;
	color:#fff;
	font-family:regular;
	border-radius:5px;
	text-decoration:none;
}
.box_s a:hover{
	color:#f00;	
}

.box_s1{
	margin:auto;
	background-color:#61a5e6;
    float:right;
	font-size:80%;
	color:#fff;
	font-family:regular;
	padding:3px;
	border-radius:5px;
	border:1px solid #63a62f;	
	margin: 10px 172px auto auto;
	font-weight:bold;
}
.box_s1 a{
	margin:auto;
	float:right;
	font-size:100%;
	color:#fff;
	font-family:regular;
	border-radius:5px;
	text-decoration:none;
}
.box_s1 a:hover{
	color:#f00;	
}
.grid_head
{
    float:left;
    margin-left:10px;
    font-family:regular;
    text-shadow: 1px 1px #bbb;
    margin-top:30px;
 }
 .grid_paging{
        float:right;
        width:500px;
        margin-top:40px;
        font-family:regular;
        color:#bbb;
        font-size:85%;
}
.grid_boxes{
    float:left;
    width:98%;
    margin-top:30px;
}
.grid_select
{
    height: 27px !important;
    width: 13% !important;
}
.grid_tb
{
    width:98%;
    height:auto;
    margin:auto;
    font-size:13px;	
	clear:both;
	font-family:regular;
	border:0px solid #000;
	margin-bottom:20px;

    }
.grid_tb_hd{
        background-color:#61a5e6;
        color:#fff;
        height:40px;
        border:2px solid #61a5e6;
}
.grid_tb_td{
    padding:10px;
        
 }
.master-footer {
    background-color: #61a5e6;
    bottom: 0;
    clear: both;
    height: 30px;
    color:#fff;
    font-family:regular;
    font-size:12px;	
    text-align:right;
    margin-top:10px;
    padding-top:18px;
    padding-right:30px;
}
.master-footer a{
    color:#fff;
    text-decoration:none;
}
.master-footer a:hover{
    color:#f00;
    text-decoration:underline;
}
  
table {
  width:100%;
  margin-bottom:-10px;
  -moz-user-select: element;
  -webkit-user-select: element;
  -ms-user-select: element;

 }
.txt_spac
{
    margin-top:20px;    
    }
    .page_na
    {
        margin-top:20px;
        margin-bottom:40px;
    }
       
/*Start Popup Region */

.popbg{background:DimGray; opacity: 0.6; filter: alpha(opacity=60); z-index: 10000; top:0; left:0; 
       min-height:100%; width:100%; position:fixed;}
 
 /* Success Error  MESSAGES CSS */
.message{padding:5px 5px 5px 25px !important; background-color:#FCFCFC; border:1px solid #666; 
 width:50%; margin:0 80px;}
.message.success {background:#61a5e6 url(../images/icon_success.png) no-repeat -3px -2px; color:#ffffff; border-color:#c6d880; border-radius:10px; position:fixed; z-index:9999; font-size:14px; font-weight:bold; top:10px;}
.message.error {background:#e8bdbf url(../images/icon_error.png) no-repeat -3px -2px; color:#8a1f11; border-color:#7aaee6; font-size:14px; font-weight:bold; border-radius:10px; position:fixed; z-index:9999; top:10px;}

.ajx_poup{min-width: 280px; margin: 0 auto; border: solid 1px #EEE; background-color:#fff;z-index:100001;-moz-box-shadow: 0 0 4px #fbdede;
-webkit-box-shadow: 0 0 4px #fbdede;
box-shadow: 0 0 4px #fbdede; border:3px solid #FDFD00;} 
.ajx_poup div{ position:relative; padding:5px;} 
.grid th{ background-color:#Fe2502; color:#fff; height:30px;}
.grid tr:nth-child(odd){ background-color:#fff2f2;}
.grid tr:nth-child(even){ background-color:#f3f3f3;}
/** Popup styles*/
.modalBackground{background-color: Black; filter: alpha(opacity=60); opacity: 0.6;}
.modalPopup{ background-color: #FFFFFF; min-width:450px; border:1px solid green;    border-radius:3px; padding: 0;
            box-shadow:0px 1px 10px #525252;}
            
.modalPopup .consume_name{ text-align:left;}

.modalPopup .popheader{color: #FFFFFF; box-shadow: 0 1px 2px #525252;
    font-size: 18px; padding:0 20px;
    font-weight: bold;
    height: 48px;
    line-height: 56px;
    margin-top: 22px;
    text-align: center; 
                       }
.modalPopup .body{min-height: 50px;line-height: 30px;text-align: center;font-weight: bold;}
.modalPopup .footer{padding: 6px;}
.modalPopup .no{background-color: #9F9F9F; border: 1px solid #5C5C5C; cursor: pointer;}

.modalPopupLoading{background-color: #696969;filter: alpha(opacity=40);opacity: 0.7;xindex: -1;}
.nobt{display: none;}
.modalPopup .continue{background-image:url(../images/continue.png);  border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 34px;
    width: 122px; text-align:left; padding-left:17PX; margin-left:8px;}
    
.modalPopup .Nothanks{margin-left: 161px;
    margin-top: 21px;
    width: 151px;}    
.modalPopup .Nothanks a{color:blue; font-weight:bold; text-decoration:underline;}    .modalPopup .Nothanks a:hover{color:Red;}
    





.ajx_poup{min-width:250px; margin: 150px auto; border: solid 1px #EEE; background-color:#fff;z-index:100001;-moz-box-shadow: 0 0 4px #fbdede;
-webkit-box-shadow: 0 0 4px #fbdede;
box-shadow: 0 0 4px #fbdede; border:3px solid #FDFD00;
           
           } .ajx_poup div{ position:relative; padding:5px;} 
.editpopup{ background:#fff; border-radius:4px; padding:10px; border:2px solid #008000;
            box-shadow:1px 1px 21px #000; -moz-box-shadow:1px 1px 21px #000; -webkit-box-shadow:1px 1px 21px #000; -ms-box-shadow:1px 1px 21px #000; -o-box-shadow:1px 1px 21px #000;
             height:auto; max-height: 620px; overflow: scroll;}  
.editpopup_two{ background:#fff; border-radius:4px; padding:10px; border:2px solid #008000; min-width:250px;
            box-shadow:1px 1px 21px #000; -moz-box-shadow:1px 1px 21px #000; -webkit-box-shadow:1px 1px 21px #000; -ms-box-shadow:1px 1px 21px #000; -o-box-shadow:1px 1px 21px #000;
            }                
.editpopup .edithead{font-size:16px !important; color:#fff !important; background:green !important; padding: 5px 10px;}
.editpopup .subhead{ font-size:16px; color:#525252;}       
.editpopup .editlist{background: none repeat scroll 0 0 #F3F3F3; padding: 5px; width:99%; text-align:center;}
.editpopup .editlist ol{ padding:0px; margin:0px;} 
.editpopup .editlist ol li{ line-height:26px; font-size:13px;}
.editpopup .editlist .photodocument{width:50%; margin:auto; text-align:left;}
.popuptop{ top:50px !important;} 
.ok_btn{ padding:3px 10px; background:green; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.cancel_btn{padding:3px 10px; background-color:#555555; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.back-btn{ width:60px; height:24px; padding:0 0 0 10px;  background-color:#fff; border:none; font-weight:bold; color:green; font-size:14px; float:right; cursor:pointer; text-decoration:underline;}
.back-btn inupt{ background-color:none;}

*{padding:0; font-smooth:always;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.clear{clear:both;} .fltl{float:left;} .fltr{float:right;} .fltn{float:none !important;}
.marg_5{margin:5px;} .marg_10t{margin-top:10px;} .pad_2{padding:2px;} .pad_5{padding:5px;}  .pad_10{padding:10px;}
.clearfix:after {content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;} .clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
* html .clearfix {height: 1%;}
h1, h2, h3, h4{font-family:'Cuprum', arial, sans-serif; margin:0px; padding:0px;} 

.shadow{-webkit-box-shadow:0 2px 4px #CAC9C9; -moz-box-shadow:0 2px 4px #CAC9C9; box-shadow:0 2px 4px #CAC9C9; border:1px solid #BDBABA !ie;}

.radius{border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px;}

.radius_bottom{border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; -khtml-border-radius:0 0 8px 8px;}

.radius_top{border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0;}

.pad_2c{ clear:both; padding:2px;}
.mar_0{margin:0!important;}
.mar_left{ margin-left:0 !important;}


element.style {
    height: 687px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1263px;
    z-index: 10000;
}

/*End Popup Region*/  