﻿<%@ Page Title="View New Customer Locator" Language="C#" MasterPageFile="~/MasterPages/EBMS.Master"
    Theme="Green" AutoEventWireup="true" CodeBehind="ViewNewCustomersLocator.aspx.cs"
    Inherits="UMS_Nigeria.ConsumerManagement.ViewNewCustomersLocator" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        .map_canvas
        {
            width: 200px;
            height: 200px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <div class="out-bor">
        <asp:UpdateProgress ID="UpdateProgress" runat="server">
            <ProgressTemplate>
                <center>
                    <div id="loading-div" class="pbloading">
                        <div id="title-loading" class="pbtitle">
                            BEDC</div>
                        <center>
                            <img src="../images/loading.GIF" class="pbimg"></center>
                        <p class="pbtxt">
                            Loading Please wait.....</p>
                    </div>
                </center>
            </ProgressTemplate>
        </asp:UpdateProgress>
        <asp:ModalPopupExtender ID="modalPopupLoading" runat="server" TargetControlID="UpdateProgress"
            PopupControlID="UpdateProgress" BackgroundCssClass="modalBackground" />
        <%-- <asp:UpdatePanel ID="upPnlApproveCst" runat="server">
            <ContentTemplate>--%>
        <asp:Panel ID="pnlMessage" runat="server">
            <asp:Label ID="lblMessage" runat="server"></asp:Label>
        </asp:Panel>
        <div class="text_total">
            <div class="text-heading">
                <asp:Literal ID="litAddBookNumber" runat="server" Text="<%$ Resources:Resource, NW_CUST_LCTOR%>"></asp:Literal>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="dot-line">
        </div>
        <div id="divgrid" class="grid marg_5" runat="server" style="width: 99% !important;
            float: left;">
            <div id="divpaging" runat="server">
                <div align="right" class="marg_20t" runat="server" id="divLinks">
                    <h3 class="gridhead" align="left">
                        <asp:Literal ID="litSearchList" runat="server" Text="<%$ Resources:Resource, NW_CUST_LCTOR%>"></asp:Literal>
                    </h3>
                    <div class="consumer_feild" align="center">
                        <div class="consumer_total">
                        </div>
                    </div>
                    <div class=" countri_paging">
                        <asp:LinkButton ID="lkbtnFirst" runat="server" CssClass="pagingfirst" OnClick="lkbtnFirst_Click">
                            <asp:Literal ID="litFirst" runat="server" Text="<%$ Resources:Resource, FIRST%>"></asp:Literal></asp:LinkButton>
                        &nbsp;|
                        <asp:LinkButton ID="lkbtnPrevious" runat="server" CssClass="pagingfirst" OnClick="lkbtnPrevious_Click">
                            <asp:Literal ID="litPrevious" runat="server" Text="<%$ Resources:Resource, PREVIOUS%>"></asp:Literal></asp:LinkButton>
                        &nbsp;|
                        <asp:Label ID="lblCurrentPage" runat="server" Font-Bold="true"></asp:Label>
                        &nbsp;|
                        <asp:LinkButton ID="lkbtnNext" runat="server" CssClass="pagingfirst" OnClick="lkbtnNext_Click">
                            <asp:Literal ID="litNext" runat="server" Text="<%$ Resources:Resource, NEXT%>"></asp:Literal></asp:LinkButton>
                        &nbsp;|
                        <asp:LinkButton ID="lkbtnLast" runat="server" CssClass="pagingfirst" OnClick="lkbtnLast_Click">
                            <asp:Literal ID="litLast" runat="server" Text="<%$ Resources:Resource, LAST%>"></asp:Literal></asp:LinkButton>
                        &nbsp;|<asp:Literal ID="litPageSize" runat="server" Text="<%$ Resources:Resource, PAGE_SIZE%>"></asp:Literal>
                        <asp:DropDownList ID="ddlPageSize" runat="server" AutoPostBack="true" CssClass="paging-size"
                            OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged">
                        </asp:DropDownList>
                    </div>
                </div>
            </div>
        </div>
        <div class="consumer_total">
            <div class="clear">
            </div>
        </div>
        <div class="grid" id="divPrint" runat="server" align="center" style="overflow-x: auto;">
            <asp:GridView ID="gvSearchCustomers" runat="server" AutoGenerateColumns="False" AlternatingRowStyle-CssClass="color"
                OnRowCommand="gvSearchCustomers_RowCommand">
                <EmptyDataRowStyle HorizontalAlign="Center" CssClass="color" />
                <EmptyDataTemplate>
                    No Results Found for given search options.
                </EmptyDataTemplate>
                <Columns>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, GRID_SNO%>" runat="server"
                        HeaderStyle-Width="3%" HeaderStyle-HorizontalAlign="Center">
                        <ItemStyle HorizontalAlign="Center" />
                        <ItemTemplate>
                            <asp:Label ID="lblRow" runat="server" Text='<%#Eval("RowNumber")%>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, Name%>" ItemStyle-Width="8%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:Label ID="lblGvCustUnique" runat="server" Text='<%#Eval("Name") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, MOBILE_NO%>" ItemStyle-Width="8%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:Label ID="lblGvContact" runat="server" Text='<%#Eval("Primary_ContactNo") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, CYCLE%>" ItemStyle-Width="10%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:Label ID="lblName" runat="server" Text='<%#Eval("CycleName") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, LONGITUDE%>" ItemStyle-Width="10%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:Label ID="lblLongitude" runat="server" Text='<%#Eval("Longitude") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, LATITUDE%>" ItemStyle-Width="10%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:Label ID="lblLatitude" runat="server" Text='<%#Eval("Latitude") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Resource, MAP%>" ItemStyle-Width="10%"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <%--<asp:Label ID="lblGvSU" runat="server" Text="MAP"></asp:Label>--%>
                            <div id='<%#"map_canvas"+Container.DataItemIndex %>' class="map_canvas">
                                <%#"map_canvas"+Container.DataItemIndex %>
                            </div>
                            <script>
                                google.maps.event.addDomListener(window, 'load', initialize('<%#"map_canvas"+Container.DataItemIndex %>', '<%#Eval("LATITUDE") %>', '<%#Eval("Longitude") %>'));
                            </script>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField ItemStyle-Width="10%" HeaderText="<%$ Resources:Resource, APPROVE%>"
                        ItemStyle-HorizontalAlign="Center">
                        <ItemTemplate>
                            <asp:LinkButton ID="lnkApprove" CommandArgument='<%#Eval("NewCustomerLocatorId") %>'
                                CommandName="approve" ForeColor="Green" runat="server" Text="<%$ Resources: Resource, APPROVE %>"></asp:LinkButton>
                        </ItemTemplate>
                    </asp:TemplateField>
                </Columns>
            </asp:GridView>
        </div>
        <asp:HiddenField ID="hfPageSize" runat="server" />
        <asp:HiddenField ID="hfPageNo" runat="server" />
        <asp:HiddenField ID="hfLastPage" runat="server" />
        <asp:HiddenField ID="hfTotalRecords" runat="server" Value="0" />
        <asp:HiddenField ID="hfNewCustomerLocator" runat="server" Value="0" />
        <div class="consumer_total">
            <div class="pad_10">
            </div>
        </div>
        <asp:ModalPopupExtender ID="mpeApprovalConfirmation" runat="server" PopupControlID="pnlApprovalConfirmation"
            TargetControlID="hfApprovalConfirmation" BackgroundCssClass="modalBackground"
            CancelControlID="btnCncleApprvl">
        </asp:ModalPopupExtender>
        <asp:HiddenField ID="hfApprovalConfirmation" runat="server" />
        <asp:Panel ID="pnlApprovalConfirmation" runat="server" CssClass="modalPopup" Style="display: none;
            border-color: #CD3333;">
            <div class="popheader" style="background-color: #CD3333;">
                <asp:Label ID="lblApprovalConfirmation" runat="server" Text=""></asp:Label>
            </div>
            <div class="footer" align="right">
                <asp:Button ID="btnApproveOk" runat="server" Text="<%$ Resources:Resource, OK%>"
                    CssClass="no" OnClick="btnApproveOk_Click" />
                <asp:Button ID="btnCncleApprvl" runat="server" Text="<%$ Resources:Resource, CANCEL%>"
                    CssClass="no" />
            </div>
        </asp:Panel>
        <%--  </ContentTemplate>
        </asp:UpdatePanel>--%>
    </div>
    <%--map testing starts--%>
    <%--map testing end--%>
    <%--==============Escape button script starts==============--%>
    <script type="text/javascript">

        $(document).ready(function () {
            DisplayMessage('<%= pnlMessage.ClientID %>');
        });

        var prm = Sys.WebForms.PageRequestManager.getInstance();

        prm.add_endRequest(function () {
            DisplayMessage('<%= pnlMessage.ClientID %>');
        });
    </script>
    <%--==============Escape button script ends==============--%>
    <%--==============Validation script ref starts==============--%>
    <script src="../Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.ui.core.js" type="text/javascript"></script>
    <script src="../scripts/GoogleMap.js" type="text/javascript"></script>
    <script src="../JavaScript/CommonValidations.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%--==============Validation script ref ends==============--%>
    <%--==============Ajax loading script starts==============--%>
    <script type="text/javascript">
        var prm = Sys.WebForms.PageRequestManager.getInstance();
        //Raised before processing of an asynchronous postback starts and the postback request is sent to the server.
        prm.add_beginRequest(BeginRequestHandler);
        // Raised after an asynchronous postback is finished and control has been returned to the browser.
        prm.add_endRequest(EndRequestHandler);
        function BeginRequestHandler(sender, args) {
            //Shows the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.show();
            }
        }

        function EndRequestHandler(sender, args) {
            //Hide the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.hide();
            }
        }
   
    </script>
    <%--==============Validation script ref ends==============--%>
</asp:Content>
