
/* main menu----------------------------*/
.main{
	width:100%;
	height:auto;
	margin:auto;
	overflow:hidden;
}
/* header - strat */
.header{
	margin:auto;
	width:100%;
	height: auto;
	min-height: 96px;
	border-bottom:6px solid #639B00;
	box-shadow:0px 0px 11px #5E5E5E;
	overflow:intial;	
/* logo */	
}
.logo{    
    float: left;
	margin:0.5%;
	width:106px;
	height:71px;
	
	}
.left-logo{
	 float: left;
	margin:0.5%;
	width:106px;
	height:71px;
	
	}
.logo img, .right-logo img, .left-logo img
{
   
}

.right-logo{
	float: right;   
	width:183px;
	height:53px;
	margin-top:5px;
	
	}
.container{
	/*width:100%;*/
	min-height:auto;
	height:720px;
}
/* main menu
----------------------------*/
#ddmenu
{
    display:block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0.5%; float:left;
    margin-top: 1%;/*Specify the alignment of the whole UL if UL is not width:100%;*/
    letter-spacing:normal;
    width:75%;
 }
#ddmenu ul{ 
    margin:0 auto; 
    padding:0;
 /* Alignment of each top-level menu items within the UL */
    font-size:0;
    display:inline-block;
    list-style:none;
    width:auto;
	border:1px solid rgba(255,255,255,0.2);
	border-radius:4px;
	 z-index:9;	
}

#ddmenu li
{
    margin:0;
    padding:0;
    font-size:14px;
    display:inline-block;
   /* display:inline;
    zoom:1; for IE6-7*/
   position:relative;
    color:#006600;
    line-height:44px; /*This determines the height of the menu*/
    transition:background-color 0.2s;
    outline:none;
    /*z-index:999999999999;*/	
}
#ddmenu li a {
    padding:-100px; color:green; text-decoration:none !important; 
 }

#ddmenu li a:hover {
background-color:green; color:#fff; padding:-70px; color:green; 
}
/*#ddmenu li.full-width {
   position: static;
} 
#ddmenu li.over
{
color:#fff;
background-color:#006600;
}*/

#ddmenu li.over.no-sub {
color:#006600;
}

#ddmenu .top-heading{

   white-space:nowrap;
   margin:12px 12px 0 24px;
   color:#006600;
   text-decoration:none;
   display:inline-block; 
   outline:0;
   cursor:pointer;
   clear:both;
}
#ddmenu .top-heading:hover{ color:#fff;}
/* links of top-heading */
#ddmenu li a, #ddmenu li a:link{
    color:#006600;
}
#ddmenu li a:hover{
    text-decoration:underline;
	color:#fff;
}

#ddmenu li a:focus{
    outline:1px dotted #09F;
}
    
/* caret(arrow icon) */
#ddmenu i.caret{  
    color:inherit;
    left:-5px;
    width: 0;
    height: 0;
    overflow:hidden;/*for IE6*/
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 4px solid;/*caret size is 4px now*/
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    position:relative;
}  
        
/* sub-menu layout
----------------------------*/

#ddmenu .dropdown{
width:auto;    
left:19px;    
color:#000;   
padding:0;display:none;position:absolute;
top:100%;
border:#006600;
border-top:none;
border-radius:2px;
background-color:#006600;
margin-top:-10px;
background-color:#ccc \9;/*fallback for old IE*/
z-index:999999999999;
}
 
.span-arrow{
     background: url("../images/arrow.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    left: 7px;
    position: absolute;
    top: -10px;
    width: 24px;
    z-index: 9;
}
.span-arrow-a{
     background: url("../images/arrow.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    left: 310px;
    position: absolute;
    top: -10px;
    width: 24px;
    z-index: 9;
    display:none;
}
.span-arrow-b{
     background: url("../images/arrow.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    right: 60px;
    position: absolute;
    top: -10px;
    width: 24px;
    z-index: 9;
}
.span-arrow-c {
    background: url("../images/arrow.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    position: absolute;
    left:11px;
    top: -10px;
    width: 24px;
    z-index: 9;
}
#ddmenu li.full-width .dropdown {
    width:100%;
    padding:0;
    margin:0;
    margin-left:-1px; /*Set to 0 if UL has no border*/
}
#ddmenu .offset300 {
    left:-300px;right:auto;
    width:500px;
   
}
#ddmenu .offsetBillsubdrop {
    left:19px;
    right:auto;
    width:auto;
   
}
#ddmenu .offset350 {
    left:-300px;right:auto;
    width:500px;
   
}
#ddmenu .right-aligned_a {
    left:auto;
    right:0px;
}
#ddmenu .right_aligned_rpt {
    /*left: auto;
    right: -92px;
    width: 774px;*/
    left: -4px;
    right: auto;
    width: 696px;
}
#ddmenu .right-aligned {
    left:auto;
    right:0px;
    width:750px;
}

#ddmenu li.over .dropdown{
    display:inline-block;
}
#ddmenu .dd-inner { 
    text-align:center;
    padding:5px;
    margin:5px;
    background-color:#FFF;
    white-space:nowrap;
    font-size:14px;
    line-height:1.35;	
}  
/* links in sub menu
----------------------------*/
#ddmenu .dropdown a{  
    display:block;
    color:#006600;
    line-height:22px;
    text-decoration:none;
    padding:0;
	background-image:url(../images/side_arrow.png); background-repeat:no-repeat; background-position:left;
	padding-left:14px;
}
#ddmenu .dropdown a:hover{
    text-decoration:underline;
    color:#fff;
    background-image:url(../images/side_arrow_2.png); background-repeat:no-repeat; background-position:left;
}
/* blocks within the sub-menu
-----------------------------*/
#ddmenu div.column{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    *display:inline;*zoom:0;
    white-space:inherit;    
    /*min-width:190px;
    min-width:261px;*/
    padding-right:10px;
   /* border-right:1px solid #999;*/   
   
}
#ddmenu div.column_a{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:240px;
    padding-right:10px;
   /* border-right:1px solid #999;*/
}

#ddmenu div.dd-inner div:last-child{
    border-right:none;
   }
#ddmenu div.column h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 24px; 
}
#ddmenu div.column h3 {
  text-transform:uppercase;
  }
/* useful when*/
#ddmenuLink {
   display:none;
   }
/*######## add additional styles for mobile-friendly responsive menu ########*/
#ddmenu div.menu-icon{
   display:none; /* hide menu icon initially */
}

/*styles for mobile*/
@media only screen and (max-width:1280px) 
{
    .main{
	position:relative;
	}
.left-logo{
	float: left;
	margin:1%;    
	width:106px;
	height:71px;
	margin-top:10px;
}
.right-logo{
	float: right;   
	position:absolute;
	width:180px;
	height:65px;
	right:16px;
	top:5px;
	/*margin-right:-30px;*/
}
}

@media only screen and (max-width:1024px){ 
.main{
	position:relative;
	}
.left-logo{
	float: left;
	margin:1%;    
	width:106px;
	height:71px;
	margin-top:10px;
}
.right-logo{
	float: right;    
	position:absolute;
	width:222px;
	height:65px;
	right:0px;
	top:15px;
	margin-right:-30px;
}
}
@media screen and (max-width:768px){
.main{
	position:relative;
}
.left-logo{
	float: left;
	margin:1%;    
	width:106px;
	height:71px;
	margin-top:10px;
}
.right-logo{
	float: right;
	margin:1%;    
	position:absolute;
	width:222px;
	height:65px;
	right:0px;
	top:15px;
}


    /*override the original settings*/
    #ddmenu ul {
        width: 100%; 
        display: none;
        border-radius:0;
        background:rgba(0,102,0,0.6499999999999999); 
    }
	
    #ddmenu li {
        position:relative;
        display:block;
        font-size:20px;
        text-align:left;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    #ddmenu li.full-width {
        position: relative;
    }
    
    #ddmenu li .dropdown {
        position:relative;
        *top:auto;/*for IE7*/
        border:none;
        border-radius:0;
        box-shadow:none;
        text-align:left;
        background-color:#dcf3dc;
    }
    
    #ddmenu .offset300 {
        left:0;
    }

    #ddmenu li.full-width div.dropdown {
        width: auto;
    }
        
    #ddmenu .dd-inner
    {
        margin:0;
        background:none;
        text-align:left;
    }
    
    /*turn each column to list vertically instead of horizontally */
    #ddmenu li div.column {
        width:auto;
        padding:0;
        border:none;
        display:block;
    }

    /*move the arrow icon to right*/
    #ddmenu i.caret {
        position:absolute;
        left:auto;
        right:14px;
        top:20px;
        border-width:5px;
    }
    /* All the following are for the div.menu-icon (pure CSS) */
    #ddmenu div.menu-icon {
        font-size:32px;/*icon size*/
		display: block;
        position: relative;
		width: 40px;
		height:36px;
        text-align:center;
		cursor: pointer;
		-moz-user-select:none;		
        -webkit-user-select: none;
        background-color: #eee;
        border-radius: 3px;
        margin-bottom:6px;
        /*align the icon to the right*/
        margin-left: 40px;
        margin-right: 300px;
		margin-top:30px;
    }
    #ddmenu div.menu-icon::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 4px;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #333;
        border-bottom: 0.125em solid #333;
        box-sizing: content-box;
    }
    #ddmenu div.menu-icon-active {
        background-color: #333;
    }
    #ddmenu div.menu-icon-active::before {
        border-color: #eee;
    }
    }
@media only screen and (max-width:360px) 
{
.main{
	position:relative;
	}
.logo{
	float: left;
	margin:1%;    
	width:106px;
	height:71px;
	margin-top:22px;
}

.right-logo{
	float: right;
	margin:6%;    
	position:absolute;
	width:50%;
	height:65px;
	right:0px;
	top:17px;
}
#ddmenu div.menu-icon {
	margin-left:310px;
  margin-right:0px;
	margin-top:-98px;
}
}
@media only screen and (max-width:320px) 
{
.main{
	position:relative;
	}
.logo{
	float: left;
	margin:1%;    
	width:106px;
	height:71px;
	margin-top:22px;
}

.right-logo{
	float: right;
	margin:6%;    
	position:absolute;
	width:50%;
	height:65px;
	right:0px;
	top:17px;
}
#ddmenu div.menu-icon {
	margin-left:280px;
  margin-right:0px;
	margin-top:-98px;
}
}

/*SAVE&NEXT Popup*/
.popbg{background:DimGray; opacity: 0.6; filter: alpha(opacity=60); z-index: 10000; top:0; left:0; min-height:100%; width:100%; position:fixed;}
.editpopup_two{ background:#fff; border-radius:4px; padding:10px; border:2px solid #008000; min-width:250px; box-shadow:1px 1px 21px #000; -moz-box-shadow:1px 1px 21px #000; -webkit-box-shadow:1px 1px 21px #000; -ms-box-shadow:1px 1px 21px #000; -o-box-shadow:1px 1px 21px #000;}
.btn_ok{background-color: #5A5655; border: 1px solid #5A5655; color: #FFFFFF; display: block; float: left; font: bold 13px; font-family: Verdana,Arial,Helvetica,sans-serif; outline-style: none; padding: 5px; text-align: center; text-decoration: none; cursor:pointer; margin-bottom:5px;}
.min_ht{height:256px;}
.dis_none{display:none;}   
.poppnl{display: none; border-color: #639B00;}
.popheaderlblgreen{background-color: #639B00 !important;}
.popheaderlblred{background-color: Red !important;}
.popbtn{display: none;}
.popfooterbtn{margin-top: 22px; padding-right: 10px;}
.popfooterbtnrt{text-align:right;}

