﻿@charset "utf-8";
/* CSS Document */




/*----------------- New styles ------------------*/


body{ padding:0px; margin:0px; background:url(/images/edm-bg.jpg);}
.wraper{width:100%; height:auto;}
.header{background:#fff; box-shadow:0px 0px 11px #5E5E5E; height:auto; min-height:96px; border-bottom:6px solid #639b00; padding:0px 10px;  width:auto;}

.userright{ float: right;
    height: auto;
    margin-right:21px;
    width: 97%; }

.news_home{height: 40px; margin-bottom: 8px; margin-top:-22px; margin-bottom:10px; width:100%; background:#f7f7f7; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.news_home .news-text{color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
     padding: 1.2% 1%;
    width: 6%; 
    background:#94CB31;border-radius:4px 0px 0 4px; -moz-border-radius:4px 0px 0 4px; -webkit-border-radius:4px 0px 0 4px;}
    
.news_home .more{font-size: 14px; line-height: 30px; width:6%; text-align:center; text-decoration: underline;}
.news_home .more a{color: #008000;}

.logo{ margin:1% 0 0 0; float:left; width:8.6%;}
.container{height:auto;  margin:0px 20px 0 20px;}
.content-total{width:75%; height:auto; float:left;}
.bilddate{ height:auto;  margin-left:3%;}
.bilddate p{ color:#000; font-size:12px; font-family:"Trvebuchet MS", Arial, Helvetica, sans-serif; padding:8px 3px; float:left;}
.bilddate p img{ margin-top:-6px;}
.bildtime{ margin-left:30px;}
/*.right-logo{width:13%;  float:right;   text-align:right; margin-top:12px;}*/
.right-logo{float:left; margin-top:30px; width:14%;}

.content-total2{width:72.6%; height:auto; float:left !important; padding:0 1.1%;}
.acctotal{ width:100%; overflow:auto; margin-top:10px;}
.accsection{ float:left; width:32%; margin-right:2%;}
.accpayment{float:left; width:48%; margin-right:2%; background:#fff; padding:1%; height:auto; min-height:154px; border:1px solid green;}
 .accpaymentright{float:right; width:45%; padding:1%; background:#fff; border:1px solid green;}
.duesection{ float:left; width:32%; margin-right:2%;}
.presection{ float:left; width:32%; margin-right:0%;}
.accorderlist{overflow: auto; padding: 4% 1%; font-size:14px}
.accorderlist li{float: left; height: 22px; margin-bottom: 7px;}
.accorderlist .left{width:42%; color:#2a4100;}
.accorderlist .accright{height:auto; width:56.3%;}
.accperagraph{ color: #008000; font-size: 14px; padding: 3px 0;}
.accarea{ background:#DFFFDE; padding:10px; overflow:auto; padding:10px 0px 0 10px;}
.accarea .netarea{float: left; font-size: 14px; height: 41px; line-height: 21px; padding: 5px 0; width: 40%;} 
.accarea .netcolr{background:green; color:#fff; font-weight:bold; padding:5px;  width:37.4%; text-align:center;} 
.accarea .netbox{width:57%; height:50px; float:left; margin-left:1%; background:#fff; border:0.1em solid green;}



.popbgLoading{background:#cccccc; opacity:0.9; z-index: 10000; top:0; left:0; min-height:100%; width:100%; position:fixed;}
.popbg{background:DimGray; opacity: 0.6; filter: alpha(opacity=60); z-index: 10000; top:0; left:0; min-height:100%; width:100%; position:fixed;}

.bildblock{width:29.3%; padding:1%; height:424px; /*min-height:200px; max-height:400px;*/ background:#fff; float:left; margin-right:3%;
border:0.1% solid #f6f5f5; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(247, 247, 247)),
	color-stop(1, rgb(247, 246, 246)));
background-image: -o-linear-gradient(bottom, rgb(247, 247, 247) 0%, rgb(247, 246, 246) 100%);
background-image: -moz-linear-gradient(bottom, rgb(247, 247, 247) 0%, rgb(247, 246, 246) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(247, 247, 247) 0%, rgb(247, 246, 246) 100%);
background-image: -ms-linear-gradient(bottom, rgb(247, 247, 247) 0%, rgb(247, 246, 246) 100%);
background-image: linear-gradient(to bottom, rgb(247, 247, 247) 0%, rgb(247, 246, 246) 100%);}

.bildmin{height:200px !important;}

/*text-align:center;*/

.bildblock h2{color:#426700; font-weight:bold; font-size:17px; height:40px; line-height:32px; border-bottom:1px solid #fff; 
box-shadow:0px 1px 0px #d4d4d4; padding-left:48px;}
.bildblock ul{ padding:0px; margin:15px 0 0 25px;}
.bildblock ul li{ list-style-image:url(../images/arrow.png); padding-top:10px; margin-bottom:5px; line-height:18px; }
.bildblock ul li a{ color:#2d2d2d; font-size:14px;}
.bildblock ul li a:hover{ color:#F00; text-decoration:underline;}
.bildblock .readmore{ float:right; clear:both;  list-style:none;}
.bildblock .readmore a{text-decoration:none; color:#426700;}

.billing{ background-image:url(../images/billing-icon.jpg); background-repeat:no-repeat; background-position:2px 4px;}
.spotbilling{background-image:url(../images/spotbilling.png); background-repeat:no-repeat; background-position:2px 0px;}
.setting{ background:url(../images/setting.png); background-repeat:no-repeat; background-position:-5px 0px;}
.colelction{ background:url(../images/collection.png); background-repeat:no-repeat; background-position:2px 0px;}
.UserManagement{ background:url(../images/df-user-manage-icon.png); background-repeat:no-repeat; background-position:2px 0px;}
.connection{ background:url(../images/connection.png); background-repeat:no-repeat; background-position:2px 0px;}
.meeter{ background:url(../images/meter.png); background-repeat:no-repeat; background-position:2px 0px;}
.Report{ background:url(../images/reporting.png); background-repeat:no-repeat; background-position:2px 0px;}


.right-content{width:21%; margin-left:2%; min-height:400px; float:left; background-image:url(edm-bg.jpg);  border-radius:3px; border:0.1% solid #b81a00; padding:1%;
               box-shadow:2px 4px 10px #000; -webkit-box-shadow:2px 4px 10px #000; -moz-box-shadow:2px 4px 10px #000; -ms-box-shadow:2px 4px 10px #000; -o-box-shadow:2px 4px 10px #000;}
.right-content .readmore{ float:right; clear:both;  list-style:none;}     
.right-content .readmore a{text-decoration:none; color:#426700; font-size:14px;}          
.acc_rightpnl{width:21%; margin-left:2%; min-height:400px; float:left; border:1px solid #bee2b8; margin-top:20px; padding:1%;}
.right-content h2{text-align:left; font-size:20px; color:#000; margin-top:11px; border-bottom:1px solid #000; padding-bottom:10px;
font-weight:bold;}
.right-content .pendingapproval{background:#ffffe1; padding:5px;}
.right-content .pendingapproval h2{ padding:5px 5px 5px 0; color:#426700; margin-top:0px; font-size:18px;}
.right-content .pendingapproval ul{ margin:0px; padding:0px;}
.right-content .pendingapproval ul li{ list-style-image:url(../images/power-icon-approval.jpg); margin-left:28px; margin-top:10px;}


.dashboard{ }
.dashboard ul { margin:10px 0 0 0; padding:0px;}
.dashboard ul li{ float:left; font-size:16px; padding:5px  0 10px 0;}
.dashboard .dashleft{ width:60%; color:#b10000;}
.dashboard .dashright{ padding-left:10px;}
.dashboard p{ color:#001256; font-size:16px; padding:8px 0; text-align:left;}
.dashboard p span{ color:#000; font-weight:bold; line-height:5px; padding:0 5px;}
.dashboard .learpoem{ margin:0px 5px 0 20px;}
.dashboard .learpoem a{color:#000;}


.edmwelcome{ width:60px; float:left;}
.edmname{ float:left;}
.sendbilto{padding:5px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;} .sendbilto h2{ font-size:16px; color:#008000;}
.sendbilto ul{} .sendbilto ul li{list-style-type:square; font-size:14px; margin-left:17px; padding:5px; margin-top:5px;}


/*  NAV  */
.nav{ float: left;
    height: 41px;
    margin-left:0; margin-top:17px; width:77.4%;}
ul#menu .nav-home{ list-style-image:url(../images/home-icon.png);}
ul#menu .nav-settigns{ list-style-image:url(../images/setting-icon.png); margin-left: 4%; padding-left:8px;}
ul#menu .nav-connection{ list-style-image:url(../images/connectionmemu.png); padding-left:10px; margin-left:2.2%;}
ul#menu .nav-billing{list-style-image:url(../images/connection-icon.png); }
/*ul#menu .nav-billing{list-style-image:}*/
ul#menu .nav-collection{list-style-image:url(../images/collection-icon.png); padding-left:15px;}
ul#menu .nav-energy{list-style-image:url(../images/metermenu.png); padding-left:20px;}
ul#menu .nav-disconnection{list-style-image:url(../images/billingmistion.png); padding-left:5px;}
ul#menu .nav-work{list-style-image:url(../images/spotbillingmenu.png); padding-left:12px; margin-left:33px;}
ul#menu .nav-report{list-style-image:url(../images/billing.png); padding-left:20px; margin-left:32px;}
ul#menu .nav-newreport{list-style-image:url(../images/reportstop.png); padding-left:5px;}


.ulunder{ border:none !important; box-shadow:none!important;}
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0 0 0 30px;
}
ul#menu li, {
    list-style-type: none;
    display:list-item;
}
ul#menu ul.sub-menu li{
 border-bottom: 1px solid #099709;
 box-shadow:0px 1px 0px #005300;
    display: inline-block;
    margin: 0 5px;
    width:180px;
}
ul#menu ul.sub-menu li:hover{ background:#fff; color:#006600 !important; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;}


ul#menu li{ float:left; padding:0% 0 0 0%; margin:1% 0 0 2%; list-style-image:url(../images/home-icon.png);}
ul#menu li a{font-size:14px; margin-left:-16.4%; color:#426700; text-decoration:none;}
ul#menu li a:hover{ background:#006600; color:#fff;}
ul#menu li a:focus{ background:#006600; color:#fff;}

/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    padding:9px 5px 5px 5px;
    display:inline-block;
	border-radius:3px 3px 0 0;
}
ul#menu li ul.sub-menu li a{
	color:#fff;

    margin: 2px 8px 5px 0;
    padding: 5px;

	}
	ul#menu li ul.sub-menu li:hover a{
	background:none; color:#006600;
	}	
ul#menu li ul.sub-menu li a:hover{
	background:none; color:#006600;
	}	
/*Make the parent of sub-menu relative*/
ul#menu li {position: relative;}
/*sub menu*/
ul#menu li ul.sub-menu {display:none; position: absolute; top: 30px; left:-58px; background:#060; padding:5px 0 5px 0; border-radius:3px; z-index:1000;}
ul#menu li ul.sub-setting{left:-170px !important; top:30; width: 724px !important; padding:10px;}
ul#menu li ul.sub-setting li{ width:230px !important;}

ul#menu li ul.billing{left:-170px !important; top:30; width: 724px !important; padding:10px;}
ul#menu li ul.billing li{ width:230px !important;}

ul#menu li ul.CManagement{ top:30; width: 724px !important; padding:10px;}

ul#menu li ul.CManagement li{ width:230px !important;}


ul#menu li:hover ul.sub-menu {display:block;}

/*wizard-------------------*/

.swMain {position:relative; display:block; margin:0 0.8%; padding:0;  border: 0 solid #CCC; float:left; width:98%; min-width:992px; margin-bottom:20px;}
#step-1{ height:586px;  }
#step-2{ height:588px;}
#step-3{ height:900px;}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  border: 0 solid #CCC;
  
  clear:both;
  
  min-height:650px !important;
  
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute;  
  float:left;
  margin: 0;
  padding:5px;    
  border: 1px solid #CCC; 
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:/*#F8F8F8;*/#fff;  
  height:auto;
  text-align:left;
    
  z-index:88; 
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:98.7%;
  clear:both;
}

.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:             3px 0 0 0;   
  border:             1px solid #CCC;
  padding:            0;    
  color:              #5A5655;   
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;    
  z-index:88; 

  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  left:0;
}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #E0E0E0;
  padding:5px;   
  font:14px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:#E0E0E0;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;    
}
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0;
  margin:10px 0 0 0;      
  clear: both;
  border: 0 solid #CCCCCC;
  background: transparent; /*#EEEEEE */
  width:98%;
}
.swMain ul.anchor li{ 
  position: relative; 
  display:block;
  margin: 0 5px 0 0;
  padding: 0 8px 0 0;
  border: 0 solid #E0E0E0;
  float: left;
  border-radius:5px 5px 0 0;
}
.swMain ul.anchor .head{ margin-top:2px; float:right;}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin: 5px 0 0 0;
  padding:3px;
  height:30px;
  width:100%;
  text-decoration: none;
  outline-style:none;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:99;
  border-radius:5px 5px 0 0;
  
}

.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding: 0 5px 5px;
  font: bold 24px Verdana, Arial, Helvetica, sans-serif; line-height:30px;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align:left;
  padding:7px 0 0 0px;

  font: bold 12px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
  font: normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.consume_head{color: #008000; font-size: 21px;  margin: 16px 0 0 12px;}
.swMain ul.anchor li a.selected{
  color:#F8F8F8;
  background: #FE2502;  /* EA8511 */
  border: 1px solid #EA8511;
  cursor:text;
  -moz-box-shadow: 0px 3px 5px #888888;
  -webkit-box-shadow:0px 3px 5px #888888;
  box-shadow:0px 3px 5px #888888;
}
.swMain ul.anchor li a.selected:hover {
  color:#F8F8F8;  
  background: #EA8511;  
}

.swMain ul.anchor li a.done { 
  position:relative;
  color:#FFF;  
  background: #8CC63F;  
  border: 1px solid #8CC63F;   
  z-index:99;
  border-radius:5px 5px 0 0;
}
.swMain ul.anchor li a.done:hover {
  color:#5A5655;  
  background: #8CC63F; 
  border: 1px solid #5A5655;   
}
.swMain ul.anchor li a.disabled {
  color:#CCCCCC;  
  background: #F8F8F8;
  border: 1px solid #CCC;  
  cursor:text;   
}
.swMain ul.anchor li a.disabled:hover {
  color:#CCCCCC;  
  background: #F8F8F8;     
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}


.ok_btn{ padding:3px 10px; background:green; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.cancel_btn{padding:3px 10px; background-color:#555555; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.back-btn{ width:60px; height:24px; padding:0 0 0 10px;  background-color:#fff; border:none; font-weight:bold; color:green; font-size:14px; float:right; cursor:pointer; text-decoration:underline;}
.back-btn inupt{ background-color:none;}

/*.ok{font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #ffffff;padding: 5px 10px;
background: -moz-linear-gradient( top, #22fc00 0%,#2bab00);
	background: -webkit-gradient(linear, left top, left bottom,from(#22fc00),to(#2bab00));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #366600;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.7), inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.7),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:0px 1px 3px rgba(000,000,000,0.7),inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:-2px -1px 0px rgba(000,000,000,0.1),0px 1px 0px rgba(255,255,255,0.3);
}*/


.paybutton{  background:#5A5655; border:none; cursor:pointer; padding:5px 31px 4px 19px; background-image:url(../images/next.jpg);
color:#fff; line-height:17px; width:66px;}
.cancel{  background:#5A5655; border:none; cursor:pointer; padding:5px 10px 4px 10px; background-image:url(../images/btnbg.jpg);
color:#fff; line-height:17px; }

.print{  background-color:none; border:none; cursor:pointer; padding:5px 3px 4px 37px; background-image:url(../images/print.png); background-repeat:no-repeat;
 line-height:17px; color:green; font-size:15px; font-weight:bold; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px;}
.print:hover{box-shadow:0px 1px 4px #525252; -moz-box-shadow:0px 1px 4px #525252; -webkit-box-shadow:0px 1px 4px #525252;}
.excel{  background-color:none; border:none; cursor:pointer; padding:5px 3px 4px 37px; background-image:url(../images/exel.png); background-repeat:no-repeat;
 line-height:17px; color:green; font-size:15px; font-weight:bold; margin-left:5px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; background-position:10px 7px;}
  .excel:hover{box-shadow:0px 1px 4px #525252; -moz-box-shadow:0px 1px 4px #525252; -webkit-box-shadow:0px 1px 4px #525252;}

.updatebutton{  background:#5A5655; border:none; cursor:pointer; padding:5px 33px 6px 16px; background-image:url(../images/update.jpg);
color:#fff; line-height:17px;} 
.payprev{ border:none; cursor:pointer; padding:6px 0 6px 9px; background:none;
color:green; line-height:17px; width:101PX; text-decoration:underline;}
.consmcontact{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: auto;
    min-height: 58px; margin-left:136px; float:left; width:auto !important;
    padding: 10px;}
    
.consmcontact .consume_name{ width:100px !important;}    
    
    .consumer_panl{background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px 0; width: 91%; text-align:center; margin-left:1px;
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto;}

 .consumer_postal {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px;
                    width:98%; text-align:center; 
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto; }
.calender_total{ width:114px;}   
.consumer_postal .text_box{ width:291px; padding:3px; float:left; text-align:left;}

.consumer_total h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #008000;
    font-size: 16px;
    padding: 5px 10px;}

.ac_tariff{background-color: #ccc; line-height: 25px; padding: 3px 0px 0 3px; border-bottom: 1px solid #fff; font-size:12px !important; width: 110px !important; margin-right:3px; font-weight:bold;}
.ac_tariff_value{background-color: #F3F3F3; line-height:19px; padding:3px 0px 0 3px; border-bottom: 1px solid #fff; font-weight: bold; width:auto !important; min-width:130px; min-height:28px;}


.downdocum{ width:auto; text-align:center; width:auto; max-width:60%;}
/*End Wizard */


/*--------------------- End New Styles------------------- background:url(/images/logout.png) no-repeat;   */
.orange_btn{
  font-family: verdana;
  color: #FFFFFF !important;
  font-size: 16px; font-weight:bold;
  /*text-shadow: 1px 1px 0px #1F074F;*/
  box-shadow: 1px 1px 1px #BEE2F9;
  padding:5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:5px;
  border:none;
  background: #EE1811;
  background: linear-gradient(top,  #EE1811,  #CF4A11);
  background: -ms-linear-gradient(top,  #EE1811,  #CF4A11);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE1811), to(#CF4A11));
  background: -moz-linear-gradient(top,  #EE1811,  #CF4A11);
}
.orange_btn:hover {
  color: #000000 !important;
  background: #CF0000;
  background: linear-gradient(top,  #CF2E15,  #EE4C11);
  background: -ms-linear-gradient(top,  #CF2E15,  #EE4C11);
  background: -webkit-gradient(linear, left top, left bottom, from(#CF2E15), to(#EE4C11));
  background: -moz-linear-gradient(top,  #CF2E15,  #EE4C11);
  text-shadow:none;
}


.orange_btn {border-top: 1px solid #f01111; background: #ed4d13; background: -webkit-gradient(linear, left top, left bottom, from(#cc2c00), to(#ed4d13));
   background: -webkit-linear-gradient(top, #FF6600, #ed4d13);
   background: -moz-linear-gradient(top, #FF6600, #ed4d13);
   background: -ms-linear-gradient(top, #FF6600, #ed4d13);
   background: -o-linear-gradient(top, #FF6600, #ed4d13);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
  }
.orange_btn:hover
{
 text-shadow: none;
 border-top-color: #f27b13; background: #f27b13; color: #000000;} 
 .button:active {border-top-color: #ff5900; background: #ff5900;}

.logout_btn{ height:30px; }
.logout_btn a{ color:#fff; padding:3px 7px 2px 5px; line-height:15px; font-size:13px; font-weight:bold; margin-top:6px; margin-left:10px;}
.logout_btn a:hover{ text-shadow:0px 1px 5px #000;}
.edmcontainer{overflow:auto; background: none repeat scroll 0 0 #FFFFFF; border: 0.1em solid #CCCCCC; clear: both;padding:0 1% 1%  1%;  min-width:965px; margin:0 1%  1% 1%; min-height:300px;}

.edmcontainer h3{ color:#000; font-size:16px; margin:10px 0;} 
.consumer_feild{ height:auto;}  
.consumer_feild .consume_name {margin-left:5px; font-size: 14px; color:#000; float:left; width:120px; height:20px; line-height:14px; padding:5px; text-align:left;}
.consumer_feild .estimatemessage {margin-left:5px; font-size: 14px; color:#000; float:left; width:200px; height:20px; line-height:14px; padding:5px; text-align:left;}

.consumer_feild .consume_name span{ color:Red; font-size:14px; font-weight:bold;}
.consumer_feild .consume_input{ font-size: 14px color:#525252; float:left; width:170px; padding:0 5px;}
.consumer_feild .add-c{width: 200px;}

.consumer_feild .consume_radio{}
.consumer_feild .consume_radio input{ width:23px !important;}

.consumer_feild .consumeedit{ float:left;}

.consumer_feild .consume_check input{ width:23px !important;}

.consumer_feild .consume_check{ float:left; width: 27px;} 
.consumer_feild .consume_input input, textarea{border:1px solid #ccc; background:#f3f3f3; border-radius:3px; width:158px;}
.consumer_feild .consume_input input:hover{box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green;}
.consumer_feild .consume_input textarea:hover{box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green;}
.consumer_feild .consume_input input:focus{ box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green; background:#fbfed6;}
.consumer_feild .consume_input textarea:focus{ box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green; background:#fbfed6;}
.consumer_feild .consume_input select:focus{ box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green; background:#fbfed6;}

.consumer_feild .consume_input .noinput{width:58px;}
.consumer_feild .consume_input select{border:1px solid #ccc; background:#f3f3f3; border-radius:3px; width: 170px;}
.consumer_feild .consume_input select:hover{box-shadow:0 0 3px #CCCCCC; -moz-box-shadow:0 0 3px #CCCCCC; -webkit-box-shadow:0 0 3px #CCCCCC; -ms-box-shadow:0 0 3px #CCCCCC; -o-box-shadow:0 0 3px #CCCCCC; border:1px solid green;}
.consumer_feild .consume_input .nobrowse{line-height:30px; padding-left:20px;}
.consumer_feild .c_left{ margin-left:20px; }
.gridhead{color:#558D00; font-size:18px !important; margin:10px 0; width:25%; float:left; text-align:left;}
.countri_paging{ width:50%; float:right;}

.bgwhite{ background:#fff !important;}
.tariffpanel{padding:10px; background:#F3F3F3; overflow:auto; float:left; margin-left:33px; border:1px solid #ececec;}

.condumepay{ width:27%; float:left; margin-right:2%; border-right:1px solid #ccc;}
.paymen_total{height: auto; margin-top: 20px; float:left; width:70.8%;}
.paymen_total .dashleft{ width:110px; color:#b10000; margin-left:10px;}
.paymen_total .Bat_dtl{ width:220px !important; }
.assgn_input{}
.assgn_input input{ margin:10px 0 0 8px; }




.paymen_total .duecolr{ color:Black; font-weight:bold;}
.paymen_total .dashboard{ float:left; width:206px; height:auto;}
.paymen_total .d_brdPEnt{ float:left;  height:auto;}

.d_brdPEnt{ }
.d_brdPEnt ul { margin:10px 0 0 0; padding:0px;}
.d_brdPEnt ul li{ float:left; font-size:16px; padding:5px  0 10px 0;}
.d_brdPEnt .dashleft{ width:60%; color:#b10000;}
.d_brdPEnt .dashright{ padding-left:10px;}
.d_brdPEnt p{ color:#001256; font-size:16px; padding:8px 0; text-align:left;}
.d_brdPEnt p span{ color:#000; font-weight:bold; line-height:5px; padding:0 5px;}
.d_brdPEnt .learpoem{ margin:0px 5px 0 20px;}
.d_brdPEnt .learpoem a{color:#000;}


.paymen_total .pending{ width:170px; float:left; text-align:center; margin-left:30px;}
.paymen_total .pending h4{ font-size:14px; font-weight:normal; color:#B10000;}
.paymen_total .pending h3{ font-size:26px; color:#008000; text-decoration:none;}


.paymententry{width:46%;  min-height:150px; background-image:url(../images/edm-bg.jpg);  border-radius:3px; border:1px solid #ccc; padding:5px; 
              overflow:auto;}
.paymenthead{background:#fff;  overflow:auto;
             
             background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(255, 255, 255)),
	color-stop(1, rgb(242, 242, 242))
);
background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);}
.paymententry h3{ text-decoration:underline; background:none;}

.payviewbill{ float: left;
    margin-left: 60px;
    margin-top: 29px;
    text-align: center;}
.batchfinish{float:right;}
.batchfinish input{ height:24px; padding:0 5px; background-color:greean; background-image:url(../images/btnbg.jpg); color:#fff; border:none;
                                  cursor:pointer;}


.grid color{ background-color:#ccc;}
.grid table{ width:100%;}
.grid table th{ background:#639B00; padding:5px; border:1px solid #525252; color:#fff; font-size:14px; background-image: -moz-linear-gradient(

              top,

              rgba(255,255,255,0.0) 0%,

              rgba(255,255,255,0.1) 50%);


background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(255,255,255,0.0)), color-stop(50%,rgba(255,255,255,0.1)));}
.grid table td{ padding:5px; border:1px solid #000;}
.currentextbox{background-color:#fff; color:Green; font-weight:bold;  border:none; width:140px; font-size:14px; text-align:center; border:1px solid #ccc;}              

.message{padding:5px 5px 5px 25px !important; background-color:#FCFCFC; border:1px solid #666; 
 width:50%; margin:0 180px;}
.message.success {background:#6bbb3a url(../images/icon_success.png) no-repeat -3px -2px; color:#ffffff; border-color:#c6d880; border-radius:10px; position:fixed; z-index:9999; font-size:14px; font-weight:bold; top:104px;}
.message.error {background:#e8bdbf url(../images/icon_error.png) no-repeat -3px -2px; color:#8a1f11; border-color:#fbc2c4; font-size:14px; font-weight:bold; border-radius:10px; position:fixed; z-index:9999; top:10px;}

/** Popup styles*/
.modalBackground{background-color: Black; filter: alpha(opacity=60); opacity: 0.6;}
.modalPopup{ background-color: #FFFFFF; min-width:450px; border:1px solid green;    border-radius:3px; padding: 0;
            box-shadow:0px 1px 10px #525252;}
            
.modalPopup .consume_name{ text-align:left;}
/*.modalPopup .popheader{background-color: #639B00;color: #FFFFFF; box-shadow: 0 1px 2px #525252;
    font-size: 18px; padding:0 20px;
    font-weight: bold;
    height: 48px;
    line-height: 56px;
    margin-top: 22px;
    text-align: center; 
                       }*/
.modalPopup .popheader{color: #FFFFFF; box-shadow: 0 1px 2px #525252;
    font-size: 18px; padding:0 20px;
    font-weight: bold;
    height: 48px;
    line-height: 56px;
    margin-top: 22px;
    text-align: center; 
                       }
.modalPopup .body{min-height: 50px;line-height: 30px;text-align: center;font-weight: bold;}
.modalPopup .footer{padding: 6px;}
.modalPopup .no{background-color: #9F9F9F; border: 1px solid #5C5C5C; cursor: pointer;}

.modalPopupLoading{background-color: #696969;filter: alpha(opacity=40);opacity: 0.7;xindex: -1;}
.nobt{display: none;}
.modalPopup .continue{background-image:url(../images/continue.png);  border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 34px;
    width: 122px; text-align:left; padding-left:17PX; margin-left:8px;}
    
.modalPopup .Nothanks{margin-left: 161px;
    margin-top: 21px;
    width: 151px;}    
.modalPopup .Nothanks a{color:blue; font-weight:bold; text-decoration:underline;}    .modalPopup .Nothanks a:hover{color:Red;}
    





.ajx_poup{min-width:250px; margin: 150px auto; border: solid 1px #EEE; background-color:#fff;z-index:100001;-moz-box-shadow: 0 0 4px #fbdede;
-webkit-box-shadow: 0 0 4px #fbdede;
box-shadow: 0 0 4px #fbdede; border:3px solid #FDFD00;
           
           } .ajx_poup div{ position:relative; padding:5px;} 
.editpopup{ background:#fff; border-radius:4px; padding:10px; border:2px solid #008000;
            box-shadow:1px 1px 21px #000; -moz-box-shadow:1px 1px 21px #000; -webkit-box-shadow:1px 1px 21px #000; -ms-box-shadow:1px 1px 21px #000; -o-box-shadow:1px 1px 21px #000;
             height:auto; max-height: 620px; overflow: scroll;}  
.editpopup_two{ background:#fff; border-radius:4px; padding:10px; border:2px solid #008000; min-width:250px;
            box-shadow:1px 1px 21px #000; -moz-box-shadow:1px 1px 21px #000; -webkit-box-shadow:1px 1px 21px #000; -ms-box-shadow:1px 1px 21px #000; -o-box-shadow:1px 1px 21px #000;
            }                
.editpopup .edithead{font-size:16px !important; color:#fff !important; background:green !important; padding: 5px 10px;}
.editpopup .subhead{ font-size:16px; color:#525252;}       
.editpopup .editlist{background: none repeat scroll 0 0 #F3F3F3; padding: 5px; width:99%; text-align:center;}
.editpopup .editlist ol{ padding:0px; margin:0px;} 
.editpopup .editlist ol li{ line-height:26px; font-size:13px;}
.editpopup .editlist .photodocument{width:50%; margin:auto; text-align:left;}
.popuptop{ top:50px !important;} 

.tariff_Details{ border: 1px solid #FFFFFF;  height: 165px; margin-top:36px; width:193px; padding:5px;
background-image: -webkit-gradient(linear,	left top, left bottom, color-stop(0, #D5FAD1), color-stop(1, #EBFEE9),
	color-stop(1, #FFFFFF));
background-image: -o-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
 border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; 
 box-shadow: 0 0 5px #515151; -moz-box-shadow: 0 0 5px #515151; -webkit-box-shadow: 0 0 5px #515151; -ms-box-shadow: 0 0 5px #515151;
 -o-box-shadow: 0 0 5px #515151; overflow:auto;}
.tariff_Details table{ margin-top:10px; margin-right:5px; }
.tariff_Details table th{ background:#fff; padding:5px;}
.tariff_Details table td{ background:#ebfee9; padding:5px;}


.logoutbtn{
border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 4px 5px 4px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: linear-gradient(to bottom, #f62b2b, #d20202);
 }

.logoutbtn:hover{
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);}
 
 
.curent_meter{width:51%; float:left;  margin-left:1.5%; /*background-image:url(../images/edm-bg.jpg); */ border-radius:3px; border:0.1% solid #b81a00; padding:1%;
               /*box-shadow:2px 4px 10px #000; -webkit-box-shadow:2px 4px 10px #000; -moz-box-shadow:2px 4px 10px #000; -ms-box-shadow:2px 4px 10px #000; -o-box-shadow:2px 4px 10px #000;*/
               border:1px solid green;
               background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(255, 255, 255)),
	color-stop(1, rgb(242, 242, 242))
);
background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);}

.curent_width{ width:90%; margin-top:23px;}
.curent_width .consume_input{ border:1px solid #EBEBEB; border-right:1px solid #ccc;}
.curent_width .consume_left{ margin-left:5px;}
.curent_meter_total{width:70%; margin-top:-300px;  float:right; border-left:1px solid #000;} 
.curent_meter_total2{width:100%; clear:both;} 


.curent_meter_total2 .no_border{ border:none;}
.curent_meter_total2 .no_border input{ border:1px solid #ccc;}

            
               
.curent_meter .consume_name{height:23px; margin-right:5px; width:121px !important; text-align:left;}               
.curent_meter .consume_input{height:23px; width:199px !important;}     
.curent_meter .usagedtl{ color:green !important; font-weight:bold; font-size:16px;}

.routwise{float:right;
            background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(255, 255, 255)),
	color-stop(1, rgb(242, 242, 242))
);
background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);}

.paymentbg{float:right;
 margin-right: 35px !important;
            background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(255, 255, 255)),
	color-stop(1, rgb(242, 242, 242))
);
background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);
background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%);}

.datareporting{width:80%; margin: 10px auto; overflow:auto; background:#ececec; padding:28px; border:1px solid #ccc;}
.datareporting .ttl_report{ width:80%; margin:auto; background:#fff; padding:20px 48px; overflow:auto;}
.datareporting .ttl_report .databox{ width:30%; background:#4c7502; padding:10px; height:30px; text-align:center;}
.datareporting .ttl_report .databox h3{  font-size:23px; color:#fff;}
.datareporting .ttl_report .databox img{ float:left;}


/* Grid Table*/

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid {font: normal 10px/150% Arial, Helvetica, sans-serif; background: #fff; height:128px; overflow:auto; 
border: 1px solid #36752D; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }

.datagrid table thead th {/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');*/ background-color:#1E5D15; color:#FFFFFF; font-size: 12px;  border-left: 1px solid #36752D; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #275420; border-left: 1px solid #C6FFC2;font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #DFFFDE; color: #275420; }
.datagrid table tbody td:first-child {border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div{ border-top: 1px solid #36752D;background: #DFFFDE;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #36752D;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');background-color:#36752D; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #275420; color: #FFFFFF; background: none; background-color:#36752D;}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

.billsearcTwo{background:#f3f3f3; border:1px solid #ccc; padding:17px;}
.billsearch{background:#f3f3f3; border:1px solid #ccc; padding:17px; margin-left:136px; width:980px;}
.billcustomert{padding:10px; background:#fff; box-shadow:2px 1px 5px #6F6F6F; -moz-box-shadow:2px 1px 5px #6F6F6F; -webkit-box-shadow:2px 1px 5px #6F6F6F; overflow:auto; width:958px;}
.billcustomertTwo{padding:10px; background:#fff; box-shadow:2px 1px 5px #6F6F6F; -moz-box-shadow:2px 1px 5px #6F6F6F; -webkit-box-shadow:2px 1px 5px #6F6F6F; overflow:auto;}

.billcustomert .custmrdtails{width:auto;}
.custmrdtails ul{ margin:0px; padding:0px;}
.custmrdtails ul li{ float:left; width:auto; min-width:126px; color:#000; font-size:16px; float:left; margin:5px;}
.custmrdtails .coloncus{width:10px; min-width:10px;}.custmrdtails .listright{margin-right: 40px; min-width: 10px; width: 118px; color:#50A350;}
.billcustomert .pendingbills{min-width:276px; border:1px dashed #c6c5c5; padding:10px; float:left; margin-right:30px; color:#4c7401; font-size:14px; font-weight:bold; background:#FAFAFA;}
.billcustomert .pendingbills span{ color:Red; text-decoration:underline; font-size:14px; padding-left:8px;}

.billcustomert .prev_total{float:left; min-height:136px; border-radius:4px; background-color:#efeeee; padding:10px; border:1px solid #F0F0F0; margin-right:12px;}
.billcustomert .prev_total ul{ margin:0px; padding:0px;}
.billcustomert .prev_total ul div {border: 1px dashed #D1D1D1; border-top:none !important; background:#fff;  border-bottom: 1px solid #F6F6F6; float: left; padding: 10px; min-width:277px; }
.billcustomert .prev_total ul div:nth-child(even) {background: #fff}
.billcustomert .prev_total ul div:nth-child(odd) {background: #FAFAFA}
.billcustomert .prev_total ul div:first-child{ border-top:1px dashed #D1D1D1 !important;}
.billcustomert .prev_total ul div:last-child{ border-bottom:1px dashed #D1D1D1 !important; background:#F9F9F9;}
.billcustomert .prev_total ul div:last-child li{ font-size:14px; font-weight:bold; color:green;}
.billcustomert .prev_total ul div li:first-child{ width:107px;}
.billcustomert .prev_total ul div li:first-child + li{color: #B9B9B9;
    text-align: center;
    width: 29px}
.billcustomert .prev_total ul div li:first-child + li +li{ width:100px;}

.billcustomert .prev_total ul li{ font-size:12px; color:#000; font-weight:bold;}

.billcustomert .prev_total .prevleft{width:110px;}
.billcustomert .billclose{float: right;
    margin-top: -8px;
    padding: 5px 0;}

.search_unique_total{background: none repeat scroll 0 0 #FBFBFB; border: 1px solid #CCCCCC; border-radius: 5px; padding-top: 22px; width:817px;}
.search_unique_total .consume_name{ border: 1px dashed #E8E8E8; background:#fff !important; font-weight:none !important; line-height:26px;}
.search_unique_total .fltl{ border:1px dashed #E8E8E8; background:#fff !important; height:38px; text-align:center; font-weight:none !important; line-height:36px; margin-left:4px; margin-right:4px; width:10px;}
.search_unique_total .consume_input{border: 1px dashed #E8E8E8; background:#fff !important; font-weight:none !important; line-height:26px; height:28px;}
.search_unique_total .c_right{ margin-left:40px;}
.latest_news{ border: 1px solid #E8E8E8;  box-shadow: 0 1px 4px #D7D7D7; margin-bottom: 15px; padding: 5px;
              border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;}
.latest_news .latest_one{/*background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; */ padding:3px; color:#000; font-size:14px; font-weight:bold; margin-top:12px;
                         border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;}
.latest_news .latest_two{font-size: 13px; line-height: 24px; padding: 5px 4px; background:#F6F6F6;}

.latest_news .latest_admin{background: none repeat scroll 0 0 #208B20; color:#fff;  border-radius: 3px; padding: 3px 15px;
                            border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-left:-10px;}
.latest_news .latest_admin .admin_name{ font-size:13px; font-weight:bold; line-height:21px;}
.latest_news .latest_admin .admin_time{ font-size:12px; color:#ECECEC;}
.latest_news .delete{ }
.latest_news .delete a{color: #FF0000; font-size: 12px; font-weight: bold; padding: 2px 10px;}
.cycledetail{ border:1px solid #ccc; padding:5px; border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; float:left; margin-right:20px;}
.cycledetail h2{ font-size:16px; color:#008000; margin:10px 0;}
.cycledetail .consume_name{font-size: 14px;   margin-bottom: 4px; padding: 3px; width: 98px; float:left; width:100px; clear:both; border:1px solid #EFEFEF; background:#fff;}
.cycledetail .consume_input{font-size: 14px; padding: 3px 0; float:left; border:1px solid #EFEFEF; background:#fff; font-size: 14px; height: 24px;   margin: 0;
    min-width: 116px;
    padding: 0 3px; line-height:22px;}
.cycledetail .fltl{ border:1px solid #EFEFEF; background:#fff; font-size: 14px; height: 24px;  margin: 0; line-height:22px;}
.error{ height:17px; line-height:13PX;}

.billing_step{background: none repeat scroll 0 0 #F1F1F1; color: #008000; float: left; font-size: 16px; font-weight: bold; 
              padding: 5px 10px; width:98.4%; }
.choos_step{background: none repeat scroll 0 0 #EAEAEA; float: left;  overflow: auto; padding: 10px 0px 0 0px;
            border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;}
            
.chooslink{ line-height:30px; margin-top:17px;}            
.chooslink a{color:Green !important; font-size:14px; text-decoration:underline; }.chooslink a:hover{ text-decoration:none;}
.billthanku_total{ width:80%; margin:10px auto; padding:10px; clear:both; background:#fff; overflow:auto;}
.bill_thnku{color: #FFA500; font-size: 18px;}
.billthanku_total p{ color:#000; font-size:14px; font-weight:normal;}


.tooltip{ display: inline; position: relative; text-decoration: none; top: 0px; left: 0px;}


.tooltip:hover:after{ background: #333; background: rgba(0,102,0, 1.0); border-radius: 5px; top: -5px; color: #fff; 
content: attr(alt); left: 180px; padding: 5px 15px; position: absolute; z-index: 98; width: 160px;}

 .tooltip:hover:before{ border: solid; border-color: transparent green; border-width: 6px 6px 6px 0; bottom: 20px;
            content: ""; left: 174px; position: absolute; z-index: 99; top: 3px;} 
        
        
.billpopup{float:left; min-height:136px; border-radius:4px; background-color:#efeeee; padding:10px; border:1px solid #F0F0F0; margin-right:12px; width:339px;}
.billpopup ul{ margin:0px; padding:0px;}
.billpopup ul div {border: 1px dashed #D1D1D1; border-top:none !important; background:#fff;  border-bottom: 1px solid #F6F6F6; float: left; padding: 10px; min-width:317px; clear:both;}
.billpopup ul div:nth-child(even) {background: #fff}
.billpopup ul div:nth-child(odd) {background: #FAFAFA}
.billpopup ul div:first-child{ border-top:1px dashed #D1D1D1 !important; /*background:#008000;*/ text-align:left;}
.billpopup ul div:last-child{ border-bottom:1px dashed #D1D1D1 !important; background:#F9F9F9;}
.billpopup ul div:last-child li{}
.billpopup ul div li:first-child{ width:130px;}
.billpopup ul div li:first-child + li{color: #B9B9B9;
    text-align: center;
    width: 29px}
.billpopup ul div li:first-child + li +li{ width:100px;}

.billpopup ul li{ font-size:12px; color:#000; font-weight:bold; text-align:left;}

.adjust-meter{}
.adjust-meter .prevleft{background: none repeat scroll 0 0 #EDEDED;
    padding:5px 5px 5px 9px; min-height: 25px; height:auto;
    line-height: 20px; margin-left:13px;
    width: 150px; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; -ms-border-radius:4px 0 0 4px; -o-border-radius:4px 0 0 4px;}
.adjust-meter .middle{   height: 22px;
    padding: 3px;
    text-align: center;
    width: 3px;}
.adjust-meter .prevright{ background: none repeat scroll 0 0 #EDEDED; height:auto; min-height: 25px;
    line-height: 25px;
    padding: 5px; width:152px; border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0; -ms-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; -o-border-radius:0 4px 4px 0;}
    
.adjust-meter .prevright input{ border: none;
    height: 13px;}
    
 .adjust-meter .total{ font-weight:bold; float:left;}   

table.tariffdata {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.tariffdata th {
	border-width: 1px;
	padding:3px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.tariffdata td {
	border-width: 1px;
	padding:3px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.wraper-footer{height:40px; background-color:#639b00; clear:both; position:relative; bottom:0;   margin-top: 129px;}
.wraper-footer p{color: #d7f79f; float: right; line-height: 39px; padding:0 10px;}
.wraper-footer p a{color: #d7f79f; float: right; line-height: 39px; padding:0 10px;}
.wraper-footer p a:hover{color:#fdfd00;}


.billadd_wid_total{ width:100%;}
.billadd_wid1{ float:left; width:32%;}
.billadd_wid2{ float:left;  width:33%;}
.billadd_wid3{ float:left;  width:35%;}

.billgrid{}
.billgrid table{ width:100%;}
.billgrid table td{width:10%;}
.billgrid table td+td{width:5%;}
.billgrid table td+td+td{width:5%;}
.billgrid table td+td+td+td{width:10%;}
.billgrid table td+td+td+td+td{width:30% !important;}


.app_msg_first {margin: 0 4%;}
.audit_rsp_total{}

.audit_rsp1{ width:50%; float:left;}
.audti_design{ height:auto; overflow:auto; margin:3%; border:0.1em solid #ccc; padding:0.5em 0.5em 1.5em 0.5em;}
.audti_design h2{ font-weight:normal;  font-size: 1.4em; padding:0.5em 0;}
.audit_change{ clear:both; padding:0.5em;}
.audit_change p{font-size: 1.3em; color:#097706;}

.audit_rsp2{ width:50%; float:left;}
.audit_grid{}
.audit_grid table{ width:100%; border-collapse: collapse; }
.audit_grid table th{border:1px solid #11750e; padding:1% 0.5%; text-align:center; background-color:#319b2e; color:#fff; }
.audit_grid table td{border:1px solid #ccc; /*padding:1% 0.5%;*/ font-size:1em; text-align:center;}

.audit_showall{ clear:both; margin:10px 0px 10px 10px;}
.audit_showall .aushow{ float:right; margin:0.5em 0 0.5em 1em;}
.audit_showall .aushow p{}
.audit_showall .aushow p a{ background:#eeeb00; padding:0.2em 0.5em;  color:#014501;}

.book_cnglist {padding:10px;}   
.book_cnglist ul{ margin:0px; padding:0px;}      
.book_cnglist ul li{ float:left; font-size:1.2em; line-height:30px; height:30px;} 
.book_cnglist .bookleft{width:80px;}
.book_cnglist .coloncus{text-align:left; width: 13px;}
.book_cnglist .bookright{  
    height:20px;
    margin-right: 39px;
    width: 110px;}


.assin_border{}
.assin_border td{ border:none !important;}

.assin_border td input{ margin:margin:0px 0 0 1px;;}


                    

.Dflt_pop {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 20px;
    text-decoration: underline;
}


.pad_t{ padding-top:5px;} 
.mar_left_6{ margin-left:6px;}


@media only screen 
and (min-device-width :1197px) 
and (max-device-width :1600px) {
ul#menu li ul.sub-setting{ left:-568px !important;}
}

@media only screen 
and (min-device-width :907px) 
and (max-device-width :1197px) {
ul#menu li ul.sub-setting{ left:-119px !important;}
}

@media only screen 
and (min-device-width :700px) 
and (max-device-width :907px) {
ul#menu li ul.sub-setting{ left:-356px !important;}
}


@media only screen 
and (min-device-width :800px) 
and (max-device-width :1300px) {
ul#menu li ul.billing{ left:-568px !important;}
}


/* ----------------  accordion css starts ---------------- */
#accordion{border:1px slolid #000; margin:19px; width:97%;}

#accordion .approval_ac{ background-color:#76ae13; /* background: url(../images/accordionhead1.png); */ color:#424242;  font-size:14px; border-radius: 5px; 
-moz-border-radius: 5px;   padding:4px;
-webkit-border-radius: 5px;   border: 1px solid #CCCCCC;
overflow:auto; z-index:10; color:#fff;}
.ui-accordion .ui-accordion-content {
    border: 1px solid #ccc;
    margin-top: -3px;
    overflow: auto;
    padding:1em 1.5em;
    position: relative;
    z-index: 0; height:auto !important;
     background-color:#fff;
    
}

.ui-accordion-content .border_bottom{ border-bottom:1px solid #ccc; height:10px;}

.appr_msg_total{  border: 0.1em solid #ebf7d5; background-color:#fafef4;
    overflow: auto;  width:80%;
    padding: 1% 1% 0.6% 0.5%; margin-bottom:10px;
    border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -webkit-border-radius:5px;}
    
.appr_msg_total .consume_name{ font-size:16px; margin-bottom:5px; margin-left:5px;}    
.appr_msg_total .consume_input{ }    
.appr_msg_total .consume_input textarea{ width:99%; border:0.1em solid #eee; background-color:#fff;}    
.app_msg_first  h2{ font-size:18px; color:#060; font-weight:bold;  padding: 5px 0 0 0; margin:0 0 4px;}

.app_msg_first .appr_msg_total p{ padding:0.5% 0.2% 2% 1%;}
.app_msg_first .appr_msg_total .appr_detail{background-color: #f3ffdd;
    overflow: auto;
    padding: 5px 10px;}

.app_msg_first .appr_msg_total ul{margin:0; padding:0;}
.app_msg_first .appr_msg_total ul li{ font-size:12px;}
.app_msg_first .appr_msg_total ul li:first-child{ float:left; font-weight:bold;}

.app_msg_first .appr_msg_total ul li:first-child +li{ float:right;}


.ui-accordion-content .approv_content{
    overflow: auto;
    width: 100%;}
.approv_content .approv_text{ width:20%; float:left;}
.approv_content .approv_text:first-child{ width:20%;}
.approv_content .approv_text:first-child + .approv_text{ width:30%;}
.approv_content .approv_text:first-child + .approv_text + .approv_text{ width:27%;}
.approv_content .approv_text:first-child + .approv_text + .approv_text + .approv_text{ width:23%;}




.approv_content .approv_text ul{margin:0; padding:0;}
.approv_content .approv_text ul li{ float:left; font-size:1.2em; color:#535353;}

.approv_content .approv_text ul li:first-child{ font-weight:bold;}
.approv_content .approv_text ul li:first-child + li{ width:10px; text-align:center;}
.approv_content .approv_text ul li:first-child + li + li{}

#accordion .approval_ac ul{ padding:0; margin:0;}
#accordion .approval_ac ul li{ float:left; padding:5px 10px; overflow:auto; font-size:14px; font-weight:bold;}
#accordion .approval_ac ul li:first-child{ width:250px;}
#accordion .approval_ac ul li:first-child + li{ width:200px;}
#accordion .approval_ac ul li:first-child + li +li{ width:200px;}
#accordion .approval_ac ul li:first-child + li +li .Ac_Required{background-color: #96ce33;
    color: red;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 10px; cursor:text;}
#accordion .approval_ac ul li:first-child + li +li +li{ width:200px;}

#accordion approval_ac:hover{background-color:#f8f8f8;}
#accordion strong{ font-weight:bold; color: #5151fb; font-size: 13px;
    font-weight: bold;
    text-decoration: underline;}
#accordion .maths{font-weight:bold; color:red;  }

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    display: block;
    margin-top: 2px;
    min-height: 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    position: relative;}
    
.ui-icon ui-icon-triangle-1-e{ }
.arrooow{font-size:14px; font-weight:bold; color:green;}
/* ----------------  accordion css ends ---------------- */
/*Alert popup styles starts*/
.message_nw{padding:28px 20px 30px 80px !important; background-color:#fff; border:5px solid #006600; width:30%; height:-1%; margin:213px,200px; font-family:"Verdana", Arial, Helvetica, sans-serif; size:12px;  box-shadow: 0 1px 2px #525252; margin-left:16%; margin-top:30%;}
.message_nw.success_nw {left:248px;background:#6bbb3a url(../../images/sucess_a.png) no-repeat; background-position:20px 18px; color:#ffffff; border-color:#c6d880; border-radius:10px; position:fixed; z-index:9999; font-size:20px; font-weight:bold; top:-405px; text-align:left;}
.message_nw.error_nw {left:248px;background:#e8bdbf url(../../images/wrong_a.png) no-repeat;  background-position:20px 18px; color:#8a1f11; border-color:#fbc2c4; font-size:20px; font-weight:bold; border-radius:10px; position:fixed; z-index:9999;  top:-405px; text-align:left;}
/*Alert popup styles ends*/