﻿.spancolor{color: Red;}
.spancolorRed{color: #F00;
position: absolute;
right: 0px;
top: 6px;}
.consumer_feild .consume_input{ position:relative; line-height:25px;
    top: 0px;
    left: 0px;
}
.pbloading{width: 230px; text-align: left; border: 1px solid #CCCCCC; border-radius: 10px; background-color: #f2f2f2;}

.pbtitle{background-color: #00CC66; color: #FFFFFF; font-weight: bold;font-family: calibri,san-serif; border-radius: 10px 10px 0px 0px ; line-height: 35px;margin-bottom: 10px; padding-left: 10px; color: #333333; font-size: 25px;}
.pbtxt{font-size: 16px; font-weight: bold; color: #006600; font-family: calibri,san-serif;padding: 5px; text-align: center}
.pbimg{width:80px;}

.popbg{text-align: left; border: 1px solid #CCCCCC; border-radius: 10px; opacity: 0.77; filter: alpha(opacity=60); width:100%; height:100%; position:fixed; left:0px; top:0px; background:#f2f2f2;z-index:10000;}
.popbgtitle{background-color: #00CC66; color: #FFFFFF; font-weight: bold;font-family: calibri,san-serif; border-radius: 10px 10px 0px 0px ; line-height: 35px;margin-bottom: 10px; padding-left: 10px; color: #333333; font-size: 25px; width: 230px;}
.popbgborder{border: 1px solid #CCCCCC; border-radius: 10px 10px 0px 0px ; width: 239px;}

.gridpaging{width: 100% !important; float: left;}
.gridpaginglnk{text-align:right;}
.printgrid{text-align:center;overflow-x: auto;}

.poppnl{display: none; border-color: #639B00;}
.popheaderlblgreen{background-color: #639B00 !important;}
.popheaderlblred{background-color: Red !important;}
.popbtn{display: none;}
.popfooterbtn{margin-top: 22px; padding-right: 10px;}
.popfooterbtnrt{text-align:right;}
/*------------------AddAgencies.aspx page-------------*/
/*------------------AddAgencies.aspx page-------------*/
/*------------------AddBookNumbers.aspx page-------------*/
.m_left443{margin-left:443px !important;}
.m_left118{margin-left:118px !important;}
.width7{width: 7px !important;}
.width20{width: 20px !important;}
.width40{width: 40px !important;}
.width50{width: 50px !important;}
.width60{width: 60px !important;}
.width108{width:127px !important;}
.width126{width:126px !important;}
.width140{width:140px !important;}
.width180{width:180px !important;}
.width203{width:203px !important;}

.width224{width:224px !important;}
.width227{width:227px !important;}

.width385{width:385px !important;}
.width500{width:500px !important;}

.p_left6{padding-left: 6px !important;}
.p_left15{padding-left: 15px !important;}
.p_left35{padding-left: 35px !important;}
.p_left97{padding-left: 97px !important;}
.p_left108{padding-left: 108px !important;}
.p_left220{padding-left: 220px !important;}
.p_left238{padding-left: 258px !important;}

.p_left560{padding-left: 560px !important;}
.p_left605{padding-left: 605px !important;}

.m_left10{margin-left: 10px !important;}
.m_left108{margin-left: 108px !important;}
.m_left420{margin-left:211px !important;}
.m_left456{margin-left:456px !important;}
.m_left475{margin-left: 490px !important;}
.m_left990{margin-left:128px !important;}
.m_bottom10{margin-bottom:10px !important;}

.aligncenter{text-align:center !important;}
/*------------------AddBookNumbers.aspx page-------------*/
/*------------------LatestNews.aspx page-------------*/
.newsgrid{background:#F3F3F3;  float: left; padding: 5px; width: 99.2%!important;
                    border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0;}
/*------------------LatestNews.aspx page-------------*/
/*------------------TariffDetails.aspx page-------------*/
.btncalc{margin-left: 700px; overflow: auto; float: left; height: 40px;}
.lblaccno{border: 1px solid #CCCCCC; float: left; margin-left: 9.4%;padding: 5px;}
.tariff_type{margin-left: 25px; float: left;}
/*------------------TariffDetails.aspx page-------------*/
/*------------------Default.aspx page-------------*/
.ulheader{width: 30%; float: left; height: auto; color: #003c60; font-size: 24px; margin: 47px 0 0 14px;}
.hmenews{background: #fff; height: 36px; margin-top: 2px; width: 86%;}
.normalfld { background-color: #FFFFFF;}
.focusfld   { background-color: #FFFFCC;}
.logotitle{padding-left: 370px; text-align: center;}
/*------------------Default.aspx page-------------*/
/*------------------Unauthorized.aspx page-------------*/

.restricted{box-shadow: 1px 1px 12px #505050; -moz-box-shadow: 1px 1px 12px #505050; -webkit-box-shadow: 1px 1px 12px #505050;
                -ms-box-shadow: 1px 1px 12px #505050; -o-box-shadow: 1px 1px 12px #505050;
                border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;  
                font-family: trebuchet ms; padding:30px 0; width: 460px; margin:15% auto; text-align:center;border: 1px solid #939387;}
    .restricted-head{background-color: #F9003B; color: #FFFFFF; font-family: trebuchet ms; font-size: 21px;  padding:7px 107px; text-align:center;}
    .restricted-head img{ line-height:30px; margin-left:5px; }
    .restricted-text{ padding:10px 5px;}
   .restricted .chooslink{ color:Green; font-size:12px; font-weight:bold; margin-left:250px;}
   .restricted .chooslink:hover{ text-decoration:none;}
/*------------------Unauthorized.aspx page-------------*/
/*------------------ConsumerRouteSequenceManagement.aspx page-------------*/
   
   
   .custmrs_list
        {
            width: 98%;
            margin: 0 0 0 10px;
            margin-top: 0px;
            float: left;
        }
        .custmrs_list li
        {
            padding: 0;
            border: 1px solid #CCCCCC;
            position: relative;
            background-color: #e2eefc;
        }
        .custmrs_list li:hover
        {
            background-color: #fff;
        }
        .custmrs_list table
        {
            width: 99%;
            margin: 0 5px;
        }
        .custmrs_list li.th
        {
            height: 32px;
            background-color: #639B00;
            color: #fff;
            font-weight: bold;
        }
        .custmrs_list li.td
        {
            overflow: hidden;
            clear: both;
            border-top: 0 none;
        }
        .custmrs_list li.new
        {
            background-color: #F8DFE4;
        }
        .custmrs_list li li
        {
            border: 0 none;
            background-color: #fff;
            margin-top: 3px;
            width: 100%;
        }
        .custmrs_list li dt
        {
            float: left;
            min-width: 30px;
            padding: 5px;
            border-right: 1px solid #CCCCCC;
        }
        .custmrs_list li.th dt
        {
            line-height: 22px;
        }
        .custmrs_list li.td dt
        {
            min-height: 20px;
        }
        .custmrs_list li dt.sno
        {
            text-align: right;
            width: 55px;
        }
        .custmrs_list li dt.check
        {
            text-align: right;
            width: 55px;
        }
        .custmrs_list li dt.name
        {
            width: 320px;
        }
        .custmrs_list li dt.addrs
        {
            width: 140px;
        }
        .custmrs_list li dt.mobi
        {
            width: 97px;
            text-align: center;
        }
        .custmrs_list li dt.status
        {
            width: 50px;
            text-align: center;
            border-right: 0 none;
        }
        .placeHolder div
        {
            border: dashed 1px gray !important;
        }
        .dragHandle
        {
            width: 16px;
            height: 16px;
            background-image: url(../images/drag.png);
            cursor: move;
            position: absolute;
            left: 8px;
             margin-top: -8px;
            z-index: 1;
        }
        .callbackStyle
        {
            border: 1px blue inset;
        }
        .reorderListDemo li
        {
            list-style: none;
            margin: 2px;
        }
        .reorderitem
        {
            background-color: #B4EB78;
        }
        .FromKW{background:#fff !important;}
        .ToKW{background:#fff !important;}
        .Charges{background:#fff !important;}
/*------------------ConsumerRouteSequenceManagement.aspx page-------------*/
   
   
   
   .gridbg-pad{ background-color: #F4F4F4; overflow-x: auto; padding: 12px; margin-left: 5.8%; float:left; width: 75%; margin-bottom:20px;}     
   
   
   .t-c-address{ height:auto !important;}
   .validprint-grid{}
   .validprint-grid .valid-data{float:left;}
   .validprint-grid .grid{ width:99%; margin-right:4%; }
   .pmtgetdetbtn{float: right; margin-right: 5%; margin-top: 7px;}
   
   .billingmessage{padding:5px 5px 5px 25px !important; background-color:#FCFCFC; border:1px solid #666; 
        margin:0 180px;}
   .billingmessage.error {background:#e8bdbf url(../images/icon_error.png) no-repeat -3px -2px; color:#8a1f11; border-color:#fbc2c4; font-size:14px; font-weight:bold; border-radius:10px; top:10px;}
.Estimation-left{ margin-left:2px;}
.pad-lc{ padding-left:5px; float:left; width:80%;}
.pad-lc first-child:div{padding-left:2px;}
.pad-lc input{ padding-left:2px;}