@import url(http://fonts.googleapis.com/css?family=Cuprum);

article, aside, audio, canvas, caption, cite, del, details, dfn, embed, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, hgroup, kbd, meter, nav, output, progress, section, source, strike, var{background:transparent; border:0 none; font-size:100%; outline:0; display:block;}


*{padding:0; font-smooth:always;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; background-color:#ffffff; margin:0px; padding:0px;
 }

input, select, textarea{font-family:Calibri,Helvetica, sans-serif; font-size:12px; padding:5px; border:1px solid #ccc; background:#f3f3f3; border-radius:3px;}

  
textarea:focus, input:focus{outline:none 0 transparent;}
label{vertical-align:text-bottom;}

a, a img{text-decoration:none; border:none 0px; color:#0078c5;}
li{list-style-type:none;} 
p{font-size:14px; font-family:Calibri,Helvetica, sans-serif; text-align:justify; line-height:20px; word-spacing:0px; }

img{/* width:100%;*/}

.clear{clear:both;} .fltl{float:left;} .fltr{float:right;} .fltn{float:none !important;}
.marg_5{margin:5px;} .marg_10t{margin-top:10px;} .pad_2{padding:2px;} .pad_5{padding:5px;}  .pad_10{padding:10px;}

.clearfix:after {content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;} .clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
* html .clearfix {height: 1%;}

h1, h2, h3, h4{font-family:'Cuprum', arial, sans-serif; margin:0px; padding:0px;} 

.shadow{-webkit-box-shadow:0 2px 4px #CAC9C9; -moz-box-shadow:0 2px 4px #CAC9C9; box-shadow:0 2px 4px #CAC9C9; border:1px solid #BDBABA !ie;}

.radius{border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px;}

.radius_bottom{border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; -khtml-border-radius:0 0 8px 8px;}

.radius_top{border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0;}

.pad_2c{ clear:both; padding:2px;}
.mar_0{margin:0!important;}
.mar_left{ margin-left:0 !important;}

    
.pay-acc{background-image:url(../images/btnbg.jpg) !important; color:#fff; 
    border:1px solid #5A5655 !important;   padding: 5px 20px !important; height:28px !important; font:12px Verdana,Arial,Helvetica,sans-serif !important; width:86px !important;}
.calculate_but{
    background-color: #5a5959;
    background-image:url(../images/btnbg.jpg);
    border: 1px solid #5A5655;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 13px Verdana,Arial,Helvetica,sans-serif;
    margin: 5px 3px 0;
    outline-style: none;
    padding: 5px 20px; height:31px;
    text-align: center;
    text-decoration: none; cursor:pointer; 
    box-shadow:0 2px 3px #757575; -moz-box-shadow:0 2px 3px #757575; -webkit-box-shadow:0 2px 3px #757575;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
    
.calculate_but:hover{ background-color:yellow; background-image:none; color:#000; box-shadow:none;}   
 
 
 .calculate_but2{
    background-color: #5a5959;
    background-image:url(../images/btnbg.jpg);
    border: 1px solid #5A5655;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 13px Verdana,Arial,Helvetica,sans-serif;
    margin:0px 0 0 40px;
    outline-style: none;
    padding: 5px 20px; height:31px;
    text-align: center;
    text-decoration: none; cursor:pointer; 
    box-shadow:0 2px 3px #757575; -moz-box-shadow:0 2px 3px #757575; -webkit-box-shadow:0 2px 3px #757575;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
    
.calculate_but:hover{ background-color:yellow; background-image:none; color:#000; box-shadow:none;}   
 
 
 .btn_ok{   background-color: #5A5655;
    border: 1px solid #5A5655;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 13px Verdana,Arial,Helvetica,sans-serif;
    outline-style: none;
    padding: 5px;
    text-align: center;
    text-decoration: none; cursor:pointer;
    margin-bottom:5px;
    }

.go_but{
    background-color: #5a5959;
    background-image:url(../images/btnbg.jpg);
    border: 1px solid #5A5655;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 13px Verdana,Arial,Helvetica,sans-serif;
    margin: 0px 3px 0px;
    outline-style: none;
    padding: 5px 20px; height:31px;
    text-align: center;
    text-decoration: none; cursor:pointer; 
    box-shadow:0 2px 3px #757575; -moz-box-shadow:0 2px 3px #757575; -webkit-box-shadow:0 2px 3px #757575;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
    
.go_but:hover{ background-color:yellow; background-image:none; color:#000; box-shadow:none;}   
.previous {float:right;position: relative;top: -36px; background-color: #5e7e00;padding:5px 10px;border-radius: 5px;}
.previous a {color:#fff}
@charset "utf-8";
/* CSS Document */

