/*wizard-------------------*/

.swMain {position:relative; display:block; margin:0 0.8%; padding:0;  border: 0 solid #CCC; float:left; width:98%; min-width:992px; margin-bottom:20px;}
#step-1{ height:586px;  }
#step-2{ height:588px;}
#step-3{ height:900px;}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  border: 0 solid #CCC;
  
  clear:both;
  
  min-height:650px !important;
  
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute;  
  float:left;
  margin: 0;
  padding:5px;    
  border: 1px solid #CCC; 
  font: normal 18px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:/*#F8F8F8;*/#fff;  
  height:auto;
  text-align:left;
    
  z-index:88; 
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:98.7%;
  clear:both;
}

.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:             3px 0 0 0;   
  border:             1px solid #CCC;
  padding:            0;    
  color:              #5A5655;   
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;    
  z-index:88; 

  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  left:0;
}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #E0E0E0;
  padding:5px;   
  font:14px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:#E0E0E0;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;    
}
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0;
  margin:10px 0 0 0;      
  clear: both;
  border: 0 solid #CCCCCC;
  background: transparent; /*#EEEEEE */
  width:98%;
}
.swMain ul.anchor li{ 
  position: relative; 
  display:block;
  margin: 0 5px 0 0;
  padding: 0 8px 0 0;
  border: 0 solid #E0E0E0;
  float: left;
  border-radius:5px 5px 0 0;
}
.swMain ul.anchor .head{ margin-top:2px; float:right;}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin: 5px 0 0 0;
  padding:3px;
  height:30px;
  width:100%;
  text-decoration: none;
  outline-style:none;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:99;
  border-radius:5px 5px 0 0;
  
}

.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding: 0 5px 5px;
  font: bold 24px Verdana, Arial, Helvetica, sans-serif; line-height:30px;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align:left;
  padding:7px 0 0 0px;

  font: bold 12px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
  font: normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.consume_head{color: #008000; font-size: 21px;  margin: 16px 0 0 12px;}
.swMain ul.anchor li a.selected{
  color:#F8F8F8;
  background: #FE2502;  /* EA8511 */
  border: 1px solid #EA8511;
  cursor:text;
  -moz-box-shadow: 0px 3px 5px #888888;
  -webkit-box-shadow:0px 3px 5px #888888;
  box-shadow:0px 3px 5px #888888;
}
.swMain ul.anchor li a.selected:hover {
  color:#F8F8F8;  
  background: #EA8511;  
}

.swMain ul.anchor li a.done { 
  position:relative;
  color:#FFF;  
  background: #8CC63F;  
  border: 1px solid #8CC63F;   
  z-index:99;
  border-radius:5px 5px 0 0;
}
.swMain ul.anchor li a.done:hover {
  color:#5A5655;  
  background: #8CC63F; 
  border: 1px solid #5A5655;   
}
.swMain ul.anchor li a.disabled {
  color:#CCCCCC;  
  background: #F8F8F8;
  border: 1px solid #CCC;  
  cursor:text;   
}
.swMain ul.anchor li a.disabled:hover {
  color:#CCCCCC;  
  background: #F8F8F8;     
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}


.ok_btn{ padding:3px 10px; background:green; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.cancel_btn{padding:3px 10px; background-color:#555555; border:none; color:#fff; font-size:15px; font-weight:bold; cursor:pointer;}
.back-btn{ width:60px; height:24px; padding:0 0 0 10px;  background-color:#fff; border:none; font-weight:bold; color:green; font-size:14px; float:right; cursor:pointer; text-decoration:underline;}
.back-btn inupt{ background-color:none;}

/*.ok{font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #ffffff;padding: 5px 10px;
background: -moz-linear-gradient( top, #22fc00 0%,#2bab00);
	background: -webkit-gradient(linear, left top, left bottom,from(#22fc00),to(#2bab00));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #366600;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.7), inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.7),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:0px 1px 3px rgba(000,000,000,0.7),inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:-2px -1px 0px rgba(000,000,000,0.1),0px 1px 0px rgba(255,255,255,0.3);
}*/


.paybutton{  background:#5A5655; border:none; cursor:pointer; padding:5px 31px 4px 19px; background-image:url(../images/next.jpg);
color:#fff; line-height:17px; width:66px;}
.cancel{  background:#5A5655; border:none; cursor:pointer; padding:5px 10px 4px 10px; background-image:url(../images/btnbg.jpg);
color:#fff; line-height:17px; }

.print{  background-color:none; border:none; cursor:pointer; padding:5px 3px 4px 37px; background-image:url(../images/print.png); background-repeat:no-repeat;
 line-height:17px; color:green; font-size:15px; font-weight:bold; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px;}
.print:hover{box-shadow:0px 1px 4px #525252; -moz-box-shadow:0px 1px 4px #525252; -webkit-box-shadow:0px 1px 4px #525252;}
.excel{  background-color:none; border:none; cursor:pointer; padding:5px 3px 4px 37px; background-image:url(../images/exel.png); background-repeat:no-repeat;
 line-height:17px; color:green; font-size:15px; font-weight:bold; margin-left:5px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; background-position:10px 7px;}
  .excel:hover{box-shadow:0px 1px 4px #525252; -moz-box-shadow:0px 1px 4px #525252; -webkit-box-shadow:0px 1px 4px #525252;}

.updatebutton{  background:#5A5655; border:none; cursor:pointer; padding:5px 33px 6px 16px; background-image:url(../images/update.jpg);
color:#fff; line-height:17px;} 
.payprev{ border:none; cursor:pointer; padding:6px 0 6px 9px; background:none;
color:green; line-height:17px; width:101PX; text-decoration:underline;}
.consmcontact{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: auto;
    min-height: 58px; margin-left:136px; float:left; width:auto !important;
    padding: 10px;}
    
.consmcontact .consume_name{ width:100px !important;}    
    
    .consumer_panl{background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px 0; width: 91%; text-align:center; margin-left:1px;
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto;}

 .consumer_postal {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px;
                    width:98%; text-align:center; 
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto; }
.calender_total{ width:114px;}   
.consumer_postal .text_box{ width:291px; padding:3px; float:left; text-align:left;}

.consumer_total h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #008000;
    font-size: 16px;
    padding: 5px 10px;}

.ac_tariff{background-color: #ccc; line-height: 25px; padding: 3px 0px 0 3px; border-bottom: 1px solid #fff; font-size:12px !important; width: 110px !important; margin-right:3px; font-weight:bold;}
.ac_tariff_value{background-color: #F3F3F3; line-height:19px; padding:3px 0px 0 3px; border-bottom: 1px solid #fff; font-weight: bold; width:auto !important; min-width:130px; min-height:28px;}


.downdocum{ width:auto; text-align:center; width:auto; max-width:60%;}
/*End Wizard */