@charset "utf-8";
/* CSS Document */

.body{ padding:0px; margin:0px; font-family:"Verdana", Arial, Helvetica, sans-serif;}
.wraper{ width:100%;}
.container{ width:100%; 113 max-width:1280px; min-width:1260px;}
.login_total{ width:100%; height:auto;}

.fltl{float:left;}
.fltr{ float:right;}
.login_top{ width:44.589%;  margin: 30px auto; clear:both; overflow:auto;}
.login_content{ width:100%;min-height: 605px;} .login_bg{width:44.589%; margin:0 auto; /*background:url(../images/loginpage.png); background-repeat:no-repeat;*/ background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;  height:auto; box-shadow:0 2px 19px #c6c6c6; -webkit-box-shadow:0 2px 19px #c6c6c6; -moz-box-shadow:0 2px 19px #c6c6c6; -o-box-shadow:0 2px 19px #c6c6c6; -ms-box-shadow:0 2px 19px #c6c6c6; border:1px solid #639b00; }
.login_img{ width:100%; height:auto;} .login_img img{ width:10.186%; height:auto;}
.log_user{ width:18%; height:100px; margin:9px 0 0 76px; float:left;}
.log_user_total{ width:100%; height:auto; overflow:hidden;}
.login_name{ width:20%; height:32px; float:left; color:#003c60; font-size:15px;  margin:0 0 0 14%; line-height:30px; font-weight:500;}
.login_input{ width:40%; height:32px; float:left;}
.login_style{ background: none repeat scroll 0 0 #ffffc9; border: medium none; border-radius: 5px; height: 20px; padding:5px; width:100%; color:#033267; border:1px solid #003c60; font-size:14px; font-weight:600;}
.login_ddl{ background: none repeat scroll 0 0 #ffffc9; border: medium none; border-radius: 5px; height: 30px; padding:5px; width:100%; color:#033267; border:1px solid #003c60; font-size:14px; font-weight:600;}
.login_inputddl{ width:40%; height:32px; float:left;}

.login_button{ border:none;  line-height:19px;}
.login_button input{ color:#fff; background-color:#fe2502;  font-size:14px; font-weight:bold; padding:6px 14px 22px 18px; text-align:center; width:241px; height:31px; text-align:center; cursor:pointer;}
.login_footer{ background:#639b00; width:100%; clear:both; height:42px; background-image:url(../images/login_footerbg.jpg); text-align:right;}
.login_footer a{ color:#cadeff; font-size: 12px; line-height: 41px; padding-right: 10px;}
.remember{ height:25px; margin-bottom:5px; line-height:19px; padding-left: 195px;}.remember a{color:#003C60; font-size:12px; padding-left:191px;} 
.remember input{ margin:0px 5px 0 0;} .remember label{ margin:0px 5px 0 0;}
.headder{border-top:#fe2502;}
/*.logo{ width:222px; height:65px; float:left; padding:17px 0 0 22px;} id065-Bhimaraju*/ 
.logoname{color: #24384C;
    float: left;
    font-family: "Verdana",Arial,Helvetica,sans-serif;
    font-size: 24px;
    margin-top: 37px;
    padding-left: 88px;
    text-align: center;}
	
.container2{ width:100%;  height:auto; overflow:hidden;}
.leftnav{background: none repeat scroll 0 0 #7fbf4d; float:left;
    border-radius: 5px;
    margin-left: 0.46%;
    margin-top: 10px;
    padding: 5px 0 30px;
    width: 18%;
    }
.rightcontent{ /*border:1px solid #F1F1F1;  border-radius: 5px; margin-top: 10px; */ -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;  margin-right:11px;
    float: right;
    height: auto;
    min-height: 500px;
    width: 79%;
    }
.nav{ /*background-color: #FE2502;*/
    border-radius:5px;
    margin: 5px;
    padding: 24px 0;
    left: 0 !important;
    margin-bottom: none !important;
    position: relative;
    top: 0 !important;
}



.totlwecome {
    float:right;
    margin-top: 5px;
	margin-right:20px;
	/*width:21%;*/

}
.userimg {
    float: left;
    line-height: 15px;
    margin-top:6px;

}
.powerrimg {
    float: left;
    line-height: 15px;
    margin-top: 8px; margin-left:20px;
    width: 25px;
}
.weltext {
    float: left;
    height: 30px;
    padding-top: 14px;

}
.welcomeu {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-left: 14px;
}
.useru {
    color: #180078;
    font-size: 16px;
    font-weight: bold;
    padding-left:2px;
}

ul#menu, ul#menu ul {
    list-style-type: none;
    margin: 12px 0 0;
    padding: 0;

}
ul#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul#menu a {
    display: block;
    text-decoration: none;
}
ul#menu li {
    margin-top: 1px;
}
ul#menu li a {
    /*background:#fff;*/   
   width: 215px;
    padding: 0.5em;
    color: #fff;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 26px;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
}

ul#menu li a:hover {background:#5e7e00;}
ul#menu li ul li a {/*background:#ffffc9;*/ color:#000; font-size:13px;}
ul#menu li ul ul li a{color: #2250B2; font-size: 12px;  height: 20px; background:#fefee0;}
ul#menu li ul li a:hover, ul#menu li ul .current a {
    background: none repeat scroll 0 0 #BFDBFB;
    border-left: 5px solid #466FC5;
}
ul#menu li ul li a:hover, ul#menu li ul .current a .active {
    background: none repeat scroll 0 0 #BFDBFB;
    border-left: 5px solid #466FC5;}
    
.footer{ background-image:url(images/footer_bg.png); height:37px; clear:both; /*margin-top:50px;*/}
.footer p{font-size:12px; color:#aba9a8; float:right; padding-right:10px; line-height:30px;}
.footer p a{color:#aba9a8;}
.footer p a:hover{color:#fe2502;}



/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{ color: #EA8511;  border: 1px solid #EA8511;}

.cycledetail{ width:200px; height:auto; border:1px solid #ccc; border-radius:3px; min-height:100px;}
.cycledetail h2{font-size:14px; color:#424242; padding:5px; background:#ccc;}
.mapedcycle_total{ width:100%; overflow:auto; margin-top:30px;}
.mapedcycle_total h2{ font-size:16px; color:#008000; margin-left:18PX; padding:5PX;}
.mapedcycle_total .cylename1, .cylename2, .cylename3{ width:150px; height:auto; min-height:50px; border:1px solid #ccc; float:left;}
.mapedcycle_total .cylename1{ margin-left:20px;}
.mapedcycle_total .cylename1, .cylename2, .cylename3 p{ font-size: 16px; padding: 5px; }

.mapedcycle_total .cylename2{ margin-left:20px;}
.mapedcycle_total .cylename3{ margin-left:20px;}

.gridheading{color: #008000;  float: left; font-size: 18px;  margin-left: 17px; width: 50%;}
.gridheadingh4{color: #008000; font-size: 16px;  margin-left: 17px;}
.Permission_dtl{width:220px; float:left; text-align:right;}

.consumer_total{height:auto;}
.consumer_feild{padding:5px; overflow:auto;}
.consume_name{ float: left; font-size: 12px; height: 30px; line-height: 16px; text-align: right; width: 139px;}
.consume_input{ width:163px;  float:left; margin-right:5px;}
.consume_input span{ margin-left:10px;}
.consume_name span{ font-size:12px; color:Red; font-weight:bold; margin-left:5px;}
.consume_input input, textarea, select{ background:#fff; border:1px solid #d2d2d2; padding:2px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;  box-shadow: 1px 0 7px #E5E4E4;  margin-left:10px; }                                
.consume_input input[type=radio]{ width:0px;}                                
.consume_input select{ background:#fff; border:1px solid #8e8e8e; padding:3px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;  box-shadow: 1px 0 7px #E5E4E4; width:92%; margin-left:10px;}                                
.consume_input input:hover, textarea:hover { border:1px solid green; box-shadow:1px 0 5px #6a6a6a;}
.consume_input input:focus, textarea:focus { border:1px solid green; box-shadow:0 0 5px #6a6a6a; width: 56%;}
.consumer_total h3{ font-size:16px; color:green; padding:5px 10px; background:#fff;}
.consumer_total h4{ font-size:16px; color:#8c8c8c; padding:5px 10px;}

.consumer_panl{background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px 0; width: 91%; text-align:center; margin-left:1px;
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto;}

.consumer_postal {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: auto; padding: 8px 0;
                    width: 91%; text-align:center; margin-left:12px;
                   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:auto;}
.calender_total{ width:114px;}                   
.consumer_postal .error{ 

    float: left;
    margin-left:35px;
 
}   
.consumer_postal .error1{     margin-left:-200px;
    margin-top: 20px;
    float: left;

}     

.tariff_Details{ border: 1px solid #FFFFFF;  height: 165px; margin-top:36px; width:193px; padding:5px;
background-image: -webkit-gradient(linear,	left top, left bottom, color-stop(0, #D5FAD1), color-stop(1, #EBFEE9),
	color-stop(1, #FFFFFF));
background-image: -o-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #D5FAD1 0%, #EBFEE9 100%, #FFFFFF 100%);
 border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; 
 box-shadow: 0 0 5px #515151; -moz-box-shadow: 0 0 5px #515151; -webkit-box-shadow: 0 0 5px #515151; -ms-box-shadow: 0 0 5px #515151;
 -o-box-shadow: 0 0 5px #515151; overflow:auto;}
.tariff_Details table{ margin-top:10px; margin-right:5px; }
.tariff_Details table th{ background:#fff; padding:5px;}
.tariff_Details table td{ background:#ebfee9; padding:5px;}

.consumer_postal .text_box{ width:30%; padding:3px; float:left;}
.charges_bind{}
.charges_bind table{ border:1px solid #ccc;}
.charges_bind table th,td{ padding:5px 5px 5px 0px; } .charges_bind table th{ background:#ccc;}
 
.popbg{background:DimGray; opacity: 0.6; filter: alpha(opacity=60); z-index: 10000; top:0; left:0; 
       min-height:100%; width:100%; position:fixed;}
 
 /* Success Error  MESSAGES CSS */
.message{padding:5px 5px 5px 25px !important; background-color:#FCFCFC; border:1px solid #666; 
 width:50%; margin:0 80px;}
.message.success {background:#6bbb3a url(../images/icon_success.png) no-repeat -3px -2px; color:#ffffff; border-color:#c6d880; border-radius:10px; position:fixed; z-index:9999; font-size:14px; font-weight:bold; top:10px;}
.message.error {background:#e8bdbf url(../images/icon_error.png) no-repeat -3px -2px; color:#8a1f11; border-color:#fbc2c4; font-size:14px; font-weight:bold; border-radius:10px; position:fixed; z-index:9999; top:10px;}

.ajx_poup{min-width: 280px; margin: 0 auto; border: solid 1px #EEE; background-color:#fff;z-index:100001;-moz-box-shadow: 0 0 4px #fbdede;
-webkit-box-shadow: 0 0 4px #fbdede;
box-shadow: 0 0 4px #fbdede; border:3px solid #FDFD00;} 
.ajx_poup div{ position:relative; padding:5px;} 
.grid th{ background-color:#Fe2502; color:#fff; height:30px;}
.grid tr:nth-child(odd){ background-color:#fff2f2;}
.grid tr:nth-child(even){ background-color:#f3f3f3;}
 #UMSNigeriaBody_modalPopupLoading_backgroundElement {background-color: Black;opacity: 0.6;}
  
.activate {
    background: none repeat scroll 0 0 #BFDBFB;
    border-left: 5px solid #466FC5;}