﻿<%@ Page Title="::Under Construction Page::" Language="C#" MasterPageFile="~/MasterPages/EDMUMS.Master" AutoEventWireup="true"
    CodeBehind="UnderConstruction.aspx.cs" Inherits="UMS_Nigeria.UnderConstruction" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .undercunstructins
        {
            margin: 50px 163px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <div class="edmcontainer">
        <div class="undercunstructins">
            <img src="../images/undercunstructions.png" />
        </div>
    </div>
</asp:Content>
