﻿<%@ Page Title="::Route Management::" Language="C#" MasterPageFile="~/MasterPages/EBMSDashBoard.Master" Theme="Green"
    AutoEventWireup="true" CodeBehind="AddRouteManagement.aspx.cs" Inherits="UMS_Nigeria.Masters.AddRouteManagement" %>

<%@ Register Src="../UserControls/UCPagingV1.ascx" TagName="UCPagingV1" TagPrefix="uc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <asp:UpdateProgress ID="UpdateProgress" runat="server">
        <ProgressTemplate>
            <center>
                <div id="loading-div" class="pbloading">
                    <div id="title-loading" class="pbtitle">
                        BEDC</div>
                    <center>
                        <img src="../images/loading.GIF" class="pbimg"></center>
                    <p class="pbtxt">
                        Loading Please wait.....</p>
                </div>
            </center>
        </ProgressTemplate>
    </asp:UpdateProgress>
    <asp:ModalPopupExtender ID="modalPopupLoading" runat="server" TargetControlID="UpdateProgress"
        PopupControlID="UpdateProgress" BackgroundCssClass="modalBackground" />
    <asp:UpdatePanel ID="upAgencies" runat="server">
        <ContentTemplate>
            <div class="out-bor">
                <asp:UpdatePanel ID="upAddAgency" runat="server">
                    <ContentTemplate>
                        <div class="inner-sec">
                            <asp:Panel ID="pnlMessage" runat="server">
                                <asp:Label ID="lblMessage" runat="server"></asp:Label>
                            </asp:Panel>
                            <div class="text_total">
                                <div class="text-heading">
                                    <asp:Literal ID="litAddState" runat="server" Text="<%$ Resources:Resource, ADD_ROUTE_MANAGEMENT%>"></asp:Literal>
                                </div>
                                <div class="star_text">
                                    <asp:Literal ID="Literal2" runat="server" Text="<%$ Resources:Resource, MANDATORY%>"></asp:Literal>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                            <div class="dot-line">
                            </div>
                            <div class="inner-box">
                                <div class="inner-box1">
                                    <div class="text-inner">
                                        <label for="name">
                                            <asp:Literal ID="litCountryCode" runat="server" Text="<%$ Resources:Resource, BUSINESS_UNIT%>"></asp:Literal>
                                            <span class="span_star">*</span></label>
                                        <div class="space">
                                        </div>
                                        <asp:DropDownList ID="ddlBusinessUnit" TabIndex="1" AutoPostBack="true" OnSelectedIndexChanged="ddlBusinessUnit_SelectedIndexChanged"
                                            onchange="DropDownlistOnChangelbl(this,'spanBusinessUnits','Business Unit')"
                                            CssClass="text-box text-select" runat="server">
                                            <asp:ListItem Text="--Select--"></asp:ListItem>
                                        </asp:DropDownList>
                                        <%--<span class="text-heading_2">
                                            <asp:HyperLink ID="lkbtnAddNewBusinessUnit" NavigateUrl="~/Masters/AddBusinessUnits.aspx"
                                                runat="server" Text="<%$ Resources:Resource, ADD%>"></asp:HyperLink></span>--%>
                                        <div class="space">
                                        </div>
                                        <span id="spanBusinessUnits" class="span_color"></span>
                                    </div>
                                    <div class="text-inner">
                                        <label for="name">
                                            <asp:Literal ID="litDetails" runat="server" Text="<%$ Resources:Resource, DETAILS%>"></asp:Literal>
                                        </label>
                                        <div class="space">
                                        </div>
                                        <asp:TextBox CssClass="text-box" ID="txtDetails" TabIndex="4" runat="server" TextMode="MultiLine"
                                            placeholder="Enter Details Here"></asp:TextBox>
                                    </div>
                                </div>
                                <div class="inner-box2">
                                    <div class="text-inner">
                                        <label for="name">
                                            <asp:Literal ID="litStateName" runat="server" Text="<%$ Resources:Resource, ROUTE_NAME%>"></asp:Literal>
                                            <span class="span_star">*</span></label><div class="space">
                                            </div>
                                        <asp:TextBox CssClass="text-box" ID="txtRouteName" TabIndex="2" runat="server" onblur="return TextBoxBlurValidationlbl(this,'spanRouteName','Route Name')"
                                            MaxLength="500" placeholder="Enter Route Name"></asp:TextBox>
                                        <span id="spanRouteName" class="span_color"></span>
                                    </div>
                                </div>
                                <div class="inner-box3">
                                    <div class="text-inner">
                                        <label for="name">
                                            <asp:Literal ID="Literal1" runat="server" Text="<%$ Resources:Resource, ROUTE_CODE%>"></asp:Literal>
                                            <span class="span_star">*</span></label><div class="space">
                                            </div>
                                        <asp:TextBox CssClass="text-box" ID="txtRouteCode" TabIndex="3" runat="server" onblur="return TextBoxBlurValidationlbl(this,'spanRouteCode','Route Code')"
                                            onkeyup="this.value=this.value.toUpperCase()" placeholder="Enter Route Code"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="ftbtxtRouteCode" runat="server" TargetControlID="txtRouteCode"
                                            FilterType="LowercaseLetters,UppercaseLetters,Custom,Numbers" ValidChars="">
                                        </asp:FilteredTextBoxExtender>
                                        <span id="spanRouteCode" class="span_color"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;">
                            </div>
                            <div class="box_total">
                                <div class="box_totalTwi_c">
                                    <asp:Button ID="btnSave" TabIndex="5" OnClientClick="return Validate();" Text="<%$ Resources:Resource, SAVE%>"
                                        CssClass="box_s" runat="server" OnClick="btnSave_Click" />
                                </div>
                                <div style="clear: both;">
                                </div>
                                <div class="box_totalTwo_b">
                                    <div class="text-heading_2">
                                        <a href="SearchRouteMaster.aspx"><span class="search_img"></span>
                                            <asp:Literal ID="litSearch" runat="server" Text="Route Search"></asp:Literal></a></div>
                                </div>
                            </div>
                            <div class="grid_boxes">
                                <div class="grid_pagingTwo_top">
                                    <div class="paging_top_title">
                                        <asp:Literal ID="litCountriesList" runat="server" Text="<%$ Resources:Resource, ROUTE_MANAGEMENT_LIST%>"></asp:Literal>
                                    </div>
                                    <div class="paging_top_rightTwo_content" id="divpaging" runat="server">
                                        <uc1:UCPagingV1 ID="UCPaging1" runat="server" />
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;">
                            </div>
                            <div class="grid_tb" id="divgrid" runat="server">
                                <asp:GridView ID="gvRouteList" runat="server" AutoGenerateColumns="False" HeaderStyle-CssClass="grid_tb_hd"
                                    OnRowCommand="gvRouteList_RowCommand" OnRowDataBound="gvRouteList_RowDataBound">
                                    <EmptyDataRowStyle HorizontalAlign="Center" CssClass="color" />
                                    <EmptyDataTemplate>
                                        There is no routes available.
                                    </EmptyDataTemplate>
                                    <Columns>
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, GRID_SNO%>" runat="server"
                                            HeaderStyle-Width="3%" HeaderStyle-HorizontalAlign="Center">
                                            <ItemStyle HorizontalAlign="Center" />
                                            <ItemTemplate>
                                                <%--<%#Container.DataItemIndex+1%>--%>
                                                <asp:Label ID="lblRow" runat="server" Text='<%#Eval("RowNumber")%>'></asp:Label>
                                                <asp:Label ID="lblRouteId" Visible="false" runat="server" Text='<%#Eval("RouteId")%>'></asp:Label>
                                                <asp:Label ID="lblActiveStatusId" Visible="false" runat="server" Text='<%#Eval("ActiveStatusId")%>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>                                        
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, ROUTE_NAME%>" ItemStyle-Width="8%"
                                            ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                            <ItemTemplate>
                                                <asp:Label ID="lblRouteName" runat="server" Text='<%#Eval("RouteName") %>'></asp:Label>
                                                <asp:TextBox CssClass="text-box" ID="txtGridRouteName" MaxLength="500" placeholder="Enter Route Name"
                                                    runat="server" Visible="false"></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, ROUTE_CODE%>" ItemStyle-Width="10%"
                                            ItemStyle-HorizontalAlign="Center">
                                            <ItemTemplate>
                                                <asp:Label ID="lblRouteCode" runat="server" Text='<%#Eval("RouteCode") %>'></asp:Label>
                                                <asp:TextBox CssClass="text-box" ID="txtGridRouteCode" onkeyup="this.value=this.value.toUpperCase()"
                                                    placeholder="Enter Route Code" runat="server" Visible="false"></asp:TextBox>
                                                <asp:FilteredTextBoxExtender ID="ftbtxtGridRouteCode" runat="server" TargetControlID="txtGridRouteCode"
                                                    FilterType="LowercaseLetters,UppercaseLetters,Custom,Numbers" ValidChars="">
                                                </asp:FilteredTextBoxExtender>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, BUSINESS_UNIT%>" ItemStyle-Width="10%"
                                            ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                            <ItemTemplate>
                                                <asp:Label ID="lblBUName" runat="server" Text='<%#Eval("BusinessUnitName") %>'></asp:Label>
                                                <asp:Label ID="lblBU_ID" Visible="false" runat="server" Text='<%#Eval("BU_ID") %>'></asp:Label>
                                                <asp:DropDownList ID="ddlGridBusinessUnitName" runat="server" Visible="false">
                                                </asp:DropDownList>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, DETAILS%>" ItemStyle-Width="10%"
                                            ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                            <ItemTemplate>
                                                <asp:Label ID="lblDetails" runat="server" Text='<%#Eval("Details") %>'></asp:Label>
                                                <asp:TextBox CssClass="text-box" ID="txtGridDetails" placeholder="Enter Details"
                                                    runat="server" Visible="false" TextMode="MultiLine"></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="<%$ Resources:Resource, GRID_ACTION%>" ItemStyle-Width="10%"
                                            ItemStyle-HorizontalAlign="Center">
                                            <ItemTemplate>
                                                <asp:LinkButton ID="lkbtnEdit" runat="server" ToolTip="Edit" Text="Edit" CommandName="EditRoute">
                                        <img src="../images/Edit.png" alt="Edit"/></asp:LinkButton>
                                                <asp:LinkButton ID="lkbtnUpdate" Visible="false" runat="server" ToolTip="Update"
                                                    CommandName="UpdateRoute"><img src="../images/update.png" alt="Update" /></asp:LinkButton>
                                                <asp:LinkButton ID="lkbtnCancel" Visible="false" runat="server" ToolTip="Cancel"
                                                    CommandName="CancelRoute"><img src="../images/cancel.png" alt="Cancel" /></asp:LinkButton>
                                                <asp:LinkButton ID="lkbtnActive" Visible="false" runat="server" ToolTip="Activate Route"
                                                    CommandName="ActiveRoute"><img src="../images/Activate.gif" alt="Active" /></asp:LinkButton>
                                                <asp:LinkButton ID="lkbtnDeActive" runat="server" ToolTip="DeActivate Route" CommandName="DeActiveRoute"><img src="../images/Deactivate.gif" alt="DeActive" /></asp:LinkButton>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                </asp:GridView>
                                <asp:HiddenField ID="hfPageNo" runat="server" />
                                <asp:HiddenField ID="hfTotalRecords" runat="server" />
                                <asp:HiddenField ID="hfLastPage" runat="server" />
                                <asp:HiddenField ID="hfId" runat="server" />
                                <asp:HiddenField ID="hfRecognize" runat="server" />
                                <asp:HiddenField ID="hfRouteCodeLength" runat="server" />
                                <asp:HiddenField ID="hfPageSize" runat="server" />
                            </div>
                            <div class="grid_boxes">
                                <div id="divdownpaging" runat="server">
                                    <div class="grid_paging_bottom">
                                        <uc1:UCPagingV1 ID="UCPaging2" runat="server" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
            <div id="hidepopup">
                <%-- Active Btn popup Start--%>
                <asp:ModalPopupExtender ID="mpeActivate" runat="server" PopupControlID="PanelActivate"
                    TargetControlID="btnActivate" BackgroundCssClass="modalBackground" CancelControlID="btnActiveCancel">
                </asp:ModalPopupExtender>
                <asp:Button ID="btnActivate" runat="server" Text="Button" Style="display: none;" />
                <asp:Panel ID="PanelActivate" runat="server" DefaultButton="btnActiveOk" CssClass="modalPopup"
                    Style="display: none; border-color: #639B00;">
                    <div class="popheader" style="background-color: #639B00;">
                        <asp:Label ID="lblActiveMsg" runat="server"></asp:Label>
                    </div>
                    <br />
                    <div class="footer" align="right">
                        <div class="fltr popfooterbtn">
                            <asp:Button ID="btnActiveOk" runat="server" OnClick="btnActiveOk_Click" Text="<%$ Resources:Resource, OK%>"
                                CssClass="ok_btn" />
                            <asp:Button ID="btnActiveCancel" runat="server" Text="<%$ Resources:Resource, CANCEL%>"
                                CssClass="cancel_btn" />
                        </div>
                        <div class="clear pad_5">
                        </div>
                    </div>
                </asp:Panel>
                <%-- Active  Btn popup Closed--%>
                <%-- DeActive  Btn popup Start--%>
                <asp:ModalPopupExtender ID="mpeDeActive" runat="server" PopupControlID="PanelDeActivate"
                    TargetControlID="btnDeActivate" BackgroundCssClass="modalBackground" CancelControlID="btnDeActiveCancel">
                </asp:ModalPopupExtender>
                <asp:Button ID="btnDeActivate" runat="server" Text="Button" Style="display: none;" />
                <asp:Panel ID="PanelDeActivate" runat="server" DefaultButton="btnDeActiveOk" CssClass="modalPopup"
                    Style="display: none; border-color: #639B00;">
                    <div class="popheader" style="background-color: red;">
                        <asp:Label ID="lblDeActiveMsg" runat="server"></asp:Label>
                    </div>
                    <div class="footer" align="right">
                        <div class="fltr popfooterbtn">
                            <br />
                            <asp:Button ID="btnDeActiveOk" runat="server" OnClick="btnDeActiveOk_Click" Text="<%$ Resources:Resource, OK%>"
                                CssClass="ok_btn" />
                            <asp:Button ID="btnDeActiveCancel" runat="server" Text="<%$ Resources:Resource, CANCEL%>"
                                CssClass="cancel_btn" />
                        </div>
                        <div class="clear pad_5">
                        </div>
                    </div>
                </asp:Panel>
                <%-- DeActive  popup Closed--%>
                <%-- Grid Alert popup Start--%>
                <asp:ModalPopupExtender ID="mpegridalert" runat="server" PopupControlID="Panelgridalert"
                    TargetControlID="btngridalert" BackgroundCssClass="modalBackground" CancelControlID="btngridalertok">
                </asp:ModalPopupExtender>
                <asp:Button ID="btngridalert" runat="server" Text="Button" Style="display: none;" />
                <asp:Panel ID="Panelgridalert" runat="server" CssClass="modalPopup" Style="display: none;">
                    <div class="popheader popheaderlblred">
                        <asp:Label ID="lblgridalertmsg" runat="server"></asp:Label>
                    </div>
                    <div class="footer popfooterbtnrt">
                        <div class="fltr popfooterbtn">
                            <asp:Button ID="btngridalertok" runat="server" Text="<%$ Resources:Resource, OK%>"
                                CssClass="ok_btn" />
                        </div>
                        <div class="clear pad_5">
                        </div>
                    </div>
                </asp:Panel>
                <%-- Grid Alert popup Closed--%>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
    <%--==============Escape button script starts==============--%>
    <script type="text/javascript">
        $(document).keydown(function (e) {
            // ESCAPE key pressed 
            if (e.keyCode == 27) {
                $(".hidepopup").fadeOut("slow");
                $(".modalPopup").fadeOut("slow");
                $(".modalBackground").fadeOut("slow");
                document.getElementById("overlay").style.display = "none";
            }
        });
    </script>
    <%--==============Escape button script ends==============--%>
    <%--==============Ajax loading script starts==============--%>
    <script type="text/javascript">
        var prm = Sys.WebForms.PageRequestManager.getInstance();
        //Raised before processing of an asynchronous postback starts and the postback request is sent to the server.
        prm.add_beginRequest(BeginRequestHandler);
        // Raised after an asynchronous postback is finished and control has been returned to the browser.
        prm.add_endRequest(EndRequestHandler);
        function BeginRequestHandler(sender, args) {
            //Shows the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.show();
            }
        }

        function EndRequestHandler(sender, args) {
            //Hide the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.hide();
            }
        }
   
    </script>
    <%--==============Ajax loading script ends==============--%>
    <%--==============Validation script ref starts==============--%>
    <script src="../JavaScript/PageValidations/AddRouteManagement.js" type="text/javascript"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () { assignDiv('rptrMainMasterMenu_169_7', '100') });
    </script>
    <%--==============Validation script ref ends==============--%>
</asp:Content>
