﻿<%@ Page Title="::Meter Information::" Language="C#" MasterPageFile="~/MasterPages/EBMSDashBoard.Master"
    Theme="Green" AutoEventWireup="true" CodeBehind="MeterInformation.aspx.cs" Inherits="UMS_Nigeria.Billing.MeterInformation" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%--<%@ Register Src="../UserControls/UCPagingV2.ascx" TagName="UCPagingV1" TagPrefix="uc1" %>--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <asp:UpdateProgress ID="UpdateProgress" runat="server">
        <ProgressTemplate>
            <center>
                <div id="loading-div" class="pbloading">
                    <div id="title-loading" class="pbtitle">
                        BEDC</div>
                    <center>
                        <img src="../images/loading.GIF" class="pbimg"></center>
                    <p class="pbtxt">
                        Loading Please wait.....</p>
                </div>
            </center>
        </ProgressTemplate>
    </asp:UpdateProgress>
    <asp:ModalPopupExtender ID="modalPopupLoading" runat="server" TargetControlID="UpdateProgress"
        PopupControlID="UpdateProgress" BackgroundCssClass="modalBackground" />
    <div class="out-bor">
        <asp:UpdatePanel ID="upStates" runat="server">
            <ContentTemplate>
                <div class="inner-sec">
                    <asp:Panel ID="pnlMessage" runat="server">
                        <asp:Label ID="lblMessage" runat="server"></asp:Label>
                    </asp:Panel>
                    <div class="text_total">
                        <div class="text-heading">
                            <asp:Literal ID="litReadMethod" runat="server" Text="<%$ Resources:Resource, METER_INFORMATION%>"></asp:Literal>
                        </div>
                        <div class="star_text">
                            <asp:Literal ID="Literal4" runat="server" Text="<%$ Resources:Resource, MANDATORY%>"></asp:Literal>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="dot-line">
                    </div>
                    <div class="inner-box">
                        <div class="inner-box1">
                            <div class="text-inner">
                                <label for="name">
                                    <asp:Literal ID="litBusinessUnit" runat="server" Text="<%$ Resources:Resource, BUSINESS_UNIT%>"></asp:Literal>
                                    <span class="span_star">*</span></label><div class="space">
                                    </div>
                                <asp:DropDownList ID="ddlBusinessUnitName" TabIndex="1" onchange="DropDownlistOnChangelbl(this,'spanddlBusinessUnitName',' Business Unit')"
                                    runat="server" CssClass="text-box text-select">
                                    <asp:ListItem Text="--Select--" Value="0"></asp:ListItem>
                                </asp:DropDownList>
                                <%-- <span class="text-heading_2">
                                    <asp:HyperLink ID="lkbtnAddNewBusinessUnit" NavigateUrl="~/Masters/AddBusinessUnits.aspx"
                                        runat="server" Text="<%$ Resources:Resource, ADD%>"></asp:HyperLink></span>--%>
                                <div class="space">
                                </div>
                                <span id="spanddlBusinessUnitName" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box2">
                            <div class="text-inner">
                                <asp:Literal ID="litMeterNo" runat="server" Text="<%$ Resources:Resource, METERNO%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtMeterNo" TabIndex="2" MaxLength="50" placeholder="Enter Meter No"
                                    onblur="return TextBoxBlurValidationlbl(this,'spanMeterNo','Meter No')" runat="server"></asp:TextBox>
                                <span id="spanMeterNo" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box3">
                            <div class="text-inner">
                                <asp:Literal ID="Literal2" runat="server" Text="<%$ Resources:Resource, METER_DIALS%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtDials" runat="server" TabIndex="3" placeholder="Enter Meter Dials"
                                    MaxLength="1" onblur="return TextBoxBlurValidationlbl(this,'spanDials','Meter Dials')"></asp:TextBox>
                                <asp:FilteredTextBoxExtender ID="ftbDials" runat="server" TargetControlID="txtDials"
                                    FilterType="Numbers" ValidChars="">
                                </asp:FilteredTextBoxExtender>
                                <span id="spanDials" class="span_color"></span>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div class="inner-box1">
                            <div class="text-inner">
                                <asp:Literal ID="Literal3" runat="server" Text="<%$ Resources:Resource, METER_TYPE%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:DropDownList ID="ddlMeterType" runat="server" TabIndex="3" CssClass="text-box text-select"
                                    onchange="DropDownlistOnChangelbl(this,'spanMeterType','Meter Type')">
                                    <asp:ListItem Text="--Select--"></asp:ListItem>
                                </asp:DropDownList>
                                <%--<span class="text-heading_2">
                                    <asp:HyperLink ID="lkbtnAddMeterType" NavigateUrl="~/Masters/AddMeterTypes.aspx"
                                        runat="server" Text="<%$ Resources:Resource, ADD%>"></asp:HyperLink></span>--%>
                                <div class="space">
                                </div>
                                <span id="spanMeterType" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box2">
                            <div class="text-inner">
                                <asp:Literal ID="litSize" runat="server" Text="<%$ Resources:Resource, SIZE%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtSize" MaxLength="50" TabIndex="4" placeholder="Enter Meter Size"
                                    onblur="return TextBoxBlurValidationlbl(this,'spanMeterSize','Meter Size')" runat="server"></asp:TextBox>
                                <span id="spanMeterSize" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box3">
                            <div class="text-inner">
                                <asp:Literal ID="litMeterSerialNo" runat="server" Text="<%$ Resources:Resource, METER_SERIAL_NO%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtSerialNo" MaxLength="50" TabIndex="4" placeholder="Enter Meter Serial Number"
                                    onblur="return TextBoxBlurValidationlbl(this,'spanSerialNo','Meter Serial Number')"
                                    runat="server"></asp:TextBox>
                                <span id="spanSerialNo" class="span_color"></span>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div class="inner-box1">
                            <div class="text-inner">
                                <asp:Literal ID="litBrand" runat="server" Text="<%$ Resources:Resource, BRAND%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtBrand" MaxLength="50" TabIndex="6" runat="server"
                                    placeholder="Enter Meter Brand" onblur="return TextBoxBlurValidationlbl(this,'spanBrand','Meter Brand')"></asp:TextBox>
                                <span id="spanBrand" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box2">
                            <div class="text-inner">
                                <asp:Literal ID="litMeterRating" runat="server" Text="<%$ Resources:Resource, METER_RATING%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtMeterRating" runat="server" TabIndex="7"
                                    MaxLength="49" onblur="return TextBoxBlurValidationlbl(this,'spanMeterRating','Meter Rating')"
                                    placeholder="Enter Meter Rating"></asp:TextBox>
                                <asp:FilteredTextBoxExtender ID="ftbMeterRating" runat="server" TargetControlID="txtMeterRating"
                                    FilterType="Numbers" ValidChars="">
                                </asp:FilteredTextBoxExtender>
                                <span id="spanMeterRating" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box3">
                            <div class="text-inner">
                                <asp:Literal ID="litMultiplier" runat="server" Text="<%$ Resources:Resource, MULTIPLIER%>"></asp:Literal><span
                                    class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtMultiplier" MaxLength="50" TabIndex="7" runat="server"
                                    onblur="return TextBoxBlurValidationlbl(this,'spanMultiplier','Multiplier')"
                                    placeholder="Enter Multiplier"></asp:TextBox>
                                <asp:FilteredTextBoxExtender ID="ftbTxtAnotherContactNo" runat="server" TargetControlID="txtMultiplier"
                                    FilterType="Numbers" ValidChars=" ">
                                </asp:FilteredTextBoxExtender>
                                <span id="spanMultiplier" class="span_color"></span>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div class="inner-box1">
                            <div class="text-inner">
                                <asp:Literal ID="Literal1" runat="server" Text="<%$ Resources:Resource, SERVICE_HOURS_BEFORE_CALIBRATION%>"></asp:Literal>
                                <br />
                                <%-- onblur="return TextBoxBlurValidationlbl(this,'spanServiceHours','Service Hours')"--%>
                                <asp:TextBox CssClass="text-box" ID="txtServiceBeforeCalibration" TabIndex="9" MaxLength="50"
                                    runat="server" placeholder="Enter Service Hours"></asp:TextBox>
                                <asp:FilteredTextBoxExtender ID="FilteredTextBoxExtender2" runat="server" TargetControlID="txtServiceBeforeCalibration"
                                    FilterType="Numbers" ValidChars=" ">
                                </asp:FilteredTextBoxExtender>
                                <span id="spanServiceHours" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box2">
                            <div class="text-inner">
                                <asp:Literal ID="Literal6" runat="server" Text="<%$ Resources:Resource,  NEXT_CALIBRATION_DATE%>"></asp:Literal>
                                <br />
                                <%--onblur="return TextBoxBlurValidationlbl(this,'spanNextDate','Next Calibration Date')"
                                    onchange="return TextBoxBlurValidationlbl(this,'spanNextDate','Next Calibration Date')"--%>
                                <asp:TextBox CssClass="text-box" ID="txtNextDate" TabIndex="10" autocomplete="off"
                                    MaxLength="10" Width="150px" placeholder="Enter Calibration Date" runat="server"></asp:TextBox>
                                <asp:Image ID="imgDate" ImageUrl="~/images/icon_calendar.png" Style="width: 20px;
                                    vertical-align: middle" AlternateText="Calender" runat="server" />
                                <asp:FilteredTextBoxExtender ID="ftbNextDate" runat="server" TargetControlID="txtNextDate"
                                    FilterType="Custom,Numbers" ValidChars="/">
                                </asp:FilteredTextBoxExtender>
                                <span id="spanNextDate" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box3">
                            <div class="text-inner">
                                <asp:Literal ID="litDetails" runat="server" Text="<%$ Resources:Resource, DETAILS%>"></asp:Literal><br />
                                <asp:TextBox CssClass="text-box" ID="txtDetails" MaxLength="50" TabIndex="10" runat="server"
                                    TextMode="MultiLine" placeholder="Enter Details"></asp:TextBox>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div class="inner-box1">
                            <div class="text-inner">
                                <asp:Literal ID="Literal5" runat="server" Text="Is CAPMI Meter?"></asp:Literal>
                                <br />
                                <asp:RadioButtonList ID="rblIsCAPMI" runat="server" RepeatDirection="Horizontal"
                                    Style="width: 150px;" onclick="IsCAPMIMeterAmountShow()">
                                    <asp:ListItem Text="Yes" Value="1"></asp:ListItem>
                                    <asp:ListItem Text="No" Value="2" Selected="True"></asp:ListItem>
                                </asp:RadioButtonList>
                                <span id="spanIsCAPMI" class="span_color"></span>
                            </div>
                        </div>
                        <div class="inner-box2" id="divCAPMIAmount" style="display: none;">
                            <div class="text-inner">
                                <label for="name">
                                    <asp:Literal ID="litAmount" runat="server" Text="<%$ Resources:Resource, AMOUNT%>"></asp:Literal></label><span
                                        class="span_star">*</span><br />
                                <asp:TextBox CssClass="text-box" ID="txtAmount" TabIndex="12" MaxLength="12" runat="server"
                                    onkeypress="return isNumberKey(event,this)" onkeyup="GetCurrencyFormate(this);"
                                    onblur="GetCurrencyFormate(this);" placeholder="Enter CAPMI Amount"></asp:TextBox>
                                <asp:FilteredTextBoxExtender ID="FilteredTextBoxExtender1" runat="server" TargetControlID="txtAmount"
                                    FilterType="Numbers,Custom" ValidChars=",.">
                                </asp:FilteredTextBoxExtender>
                                <div class="space">
                                </div>
                                <span id="spanAmount" class="span_color"></span>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="clr">
                    </div>
                    <div class="box_total">
                        <div class="box_totalTwi_a" style="margin-top: 0px;">
                            <br />
                            <asp:Button ID="btnSave" TabIndex="12" OnClientClick="return Validate();" OnClick="btnSave_Click"
                                CssClass="box_s" Text="<%$ Resources:Resource, SAVE%>" runat="server" />
                        </div>
                        <div style="clear: both;">
                        </div>
                        <div class="box_totalTwo_b">
                            <div class="text-heading_2">
                                <a href="SearchMeterInformationMaster.aspx"><span class="search_img"></span>
                                    <asp:Literal ID="litSearch" runat="server" Text="Meter Information Search"></asp:Literal></a></div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="grid_boxes">
                        <div id="divPaging1" runat="server">
                            <div class="grid_pagingTwo_top">
                                <div class="paging_top_title">
                                    <asp:Literal ID="litGridStatesList" runat="server" Text="Meter Information"></asp:Literal>
                                </div>
                                <div class="grid_paging">
                                    <div id="divpaging" runat="server">
                                        <div align="right" style="color: Red; padding-top: 3px">
                                            <asp:Literal ID="Literal12" runat="server" Text="Total Records"></asp:Literal>
                                            :
                                            <asp:Label ID="lblCountRecords" runat="server" Text=""></asp:Label>
                                        </div>
                                        <div align="right" runat="server" id="divLinks">
                                            <%--                                <h3 class="gridhead" align="left">
                                    <asp:Literal ID="litBuList" runat="server" Text="Customer with no fixed charges."></asp:Literal>
                                </h3>--%>
                                            <asp:LinkButton ID="lkbtnFirst" runat="server" OnClick="lkbtnFirst_Click">
                                                <asp:Literal ID="litFirst" runat="server" Text="<%$ Resources:Resource, FIRST%>"></asp:Literal></asp:LinkButton>
                                            &nbsp;|
                                            <asp:LinkButton ID="lkbtnPrevious" runat="server" OnClick="lkbtnPrevious_Click">
                                                <asp:Literal ID="litPrevious" runat="server" Text="<%$ Resources:Resource, PREVIOUS%>"></asp:Literal></asp:LinkButton>
                                            &nbsp;|
                                            <asp:Label ID="lblPage" runat="server" Text="Page"></asp:Label>
                                            <asp:Label ID="lblCurrentPage" runat="server" Text="1" Visible="false"></asp:Label>
                                            &nbsp;
                                            <%--<asp:DropDownList ID="ddlGoPage" runat="server" OnSelectedIndexChanged="ddlGoPage_SelectedIndexChanged"
                                                AutoPostBack="True">
                                            </asp:DropDownList>
                                            &nbsp;--%>
                                            <asp:Label ID="lblOff" runat="server" Text="Of"></asp:Label>
                                            &nbsp;
                                            <asp:Label ID="lblTotalPages" runat="server" Text="1"></asp:Label>
                                            &nbsp;|
                                            <asp:LinkButton ID="lkbtnNext" runat="server" OnClick="lkbtnNext_Click">
                                                <asp:Literal ID="litNext" runat="server" Text="<%$ Resources:Resource, NEXT%>"></asp:Literal></asp:LinkButton>
                                            &nbsp;|
                                            <asp:LinkButton ID="lkbtnLast" runat="server" OnClick="lkbtnLast_Click">
                                                <asp:Literal ID="litLast" runat="server" Text="<%$ Resources:Resource, LAST%>"></asp:Literal></asp:LinkButton>
                                            &nbsp;|&nbsp;<asp:Literal ID="litPageSize" runat="server" Text="<%$ Resources:Resource, PAGE_SIZE%>"></asp:Literal>
                                            <asp:DropDownList ID="ddlPageSize" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged">
                                                <asp:ListItem Text="100" Value="100"></asp:ListItem>
                                                <asp:ListItem Text="200" Value="200"></asp:ListItem>
                                                <asp:ListItem Text="500" Value="500"></asp:ListItem>
                                                <asp:ListItem Text="1000" Value="1000"></asp:ListItem>
                                            </asp:DropDownList>
                                        </div>
                                    </div>
                                </div>
                                <%-- <div class="paging_top_rightTwo_content">
                                    <uc1:UCPagingV1 ID="UCPaging1" runat="server" />
                                </div>--%>
                            </div>
                        </div>
                    </div>
                    <div class="grid_tb" id="divgrid" runat="server">
                        <asp:GridView ID="gvMetersList" runat="server" AutoGenerateColumns="False" AlternatingRowStyle-CssClass="color"
                            HeaderStyle-CssClass="grid_tb_hd" OnRowCommand="gvMetersList_RowCommand" OnRowDataBound="gvMetersList_RowDataBound">
                            <EmptyDataRowStyle HorizontalAlign="Center" CssClass="color" />
                            <EmptyDataTemplate>
                                There is no meter information.
                            </EmptyDataTemplate>
                            <Columns>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, GRID_SNO%>" runat="server"
                                    HeaderStyle-Width="3%" HeaderStyle-HorizontalAlign="Center" ItemStyle-CssClass="grid_tb_td">
                                    <ItemStyle HorizontalAlign="Center" />
                                    <ItemTemplate>
                                        <asp:Label ID="lblRow" runat="server" Text='<%#Eval("RowNumber")%>'></asp:Label>
                                        <asp:Label ID="lblMeterId" Visible="false" runat="server" Text='<%#Eval("MeterId")%>'></asp:Label>
                                        <asp:Label ID="lblActiveStatusId" Visible="false" runat="server" Text='<%#Eval("ActiveStatusId")%>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, METERNO%>" ItemStyle-Width="10%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterNo" runat="server" Text='<%#Eval("MeterNo") %>'></asp:Label>
                                        <asp:Label ID="lblGridMeterNo" Visible="false" runat="server" Enabled="false"></asp:Label>
                                        <%-- <asp:TextBox CssClass="text-box" ID="txtGridMeterNo" Visible="false" MaxLength="50"
                                            placeholder="Enter Meter No" runat="server" Enabled="false"></asp:TextBox>--%>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, ACCOUNT_NO%>" ItemStyle-Width="10%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblGlobalAccNo" runat="server" Text='<%#Eval("AccountNo") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, METER_SERIAL_NO%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterSerialNo" runat="server" Text='<%#Eval("MeterSerialNo") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridSerialNo" Visible="false" MaxLength="50"
                                            placeholder="Enter Meter Serial No" runat="server"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, METER_TYPE%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterTypeId" Visible="false" runat="server" Text='<%#Eval("MeterTypeId") %>'></asp:Label>
                                        <asp:DropDownList ID="ddlGridMeterType" runat="server" Visible="false">
                                            <asp:ListItem Text="--Select--"></asp:ListItem>
                                        </asp:DropDownList>
                                        <asp:Label ID="lblMeterType" runat="server" Text='<%#Eval("MeterType") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, SIZE%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterSize" runat="server" Text='<%#Eval("MeterSize") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridSize" Visible="false" MaxLength="50"
                                            placeholder="Enter Meter Size" runat="server"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, MULTIPLIER%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterMultiplier" runat="server" Text='<%#Eval("MeterMultiplier") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridMultiplier" Visible="false" MaxLength="50"
                                            runat="server" placeholder="Enter Multiplier"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="ftbMultiplier" runat="server" TargetControlID="txtGridMultiplier"
                                            FilterType="Numbers" ValidChars=" ">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, BRAND%>" ItemStyle-Width="10%"
                                    ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterBrand" runat="server" Text='<%#Eval("MeterBrand") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridBrand" Visible="false" MaxLength="50"
                                            runat="server" placeholder="Enter Meter Brand"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, METER_RATING%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Left" Visible="false" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterRating" runat="server" Text='<%#Eval("MeterRating") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridMeterRating" Visible="false" runat="server"
                                            MaxLength="50" placeholder="Enter Meter Rating"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="ftbGridMeterRating" runat="server" TargetControlID="txtGridMeterRating"
                                            FilterType="Numbers" ValidChars="">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, NEXT_CALIBRATION_DATE%>" ItemStyle-Width="8%"
                                    ItemStyle-HorizontalAlign="Center" Visible="false" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblNextCalibrationDate" runat="server" Text='<%#Eval("NextCalibrationDate") %>'></asp:Label>
                                        <asp:TextBox ID="txtGridNextDate" palceholder="Enter dd/mm/yyyy Format" MaxLength="15"
                                            Visible="false" Width="133px" runat="server"></asp:TextBox>
                                        <%--Text='<%#Eval("BillDate") %>'<asp:Image ID="imgDate1" Visible="false" CssClass="cssimgNextDate" ImageUrl="~/images/icon_calendar.png"
                                        Style="width: 20px; vertical-align: middle" AlternateText="Calender" runat="server" />--%>
                                        <asp:FilteredTextBoxExtender ID="ftbNextDate" runat="server" TargetControlID="txtGridNextDate"
                                            FilterType="Custom,Numbers" ValidChars="/">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, SERVICE_HOURS_BEFORE_CALIBRATION%>"
                                    ItemStyle-Width="10%" ItemStyle-HorizontalAlign="Left" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblServiceHoursBeforeCalibration" runat="server" Text='<%#Eval("ServiceHoursBeforeCalibration") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridServiceBeforeCalibration" Visible="false"
                                            MaxLength="50" runat="server" placeholder="Enter Service Hours"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="ftbServiceBeforeCalibration" runat="server" TargetControlID="txtGridServiceBeforeCalibration"
                                            FilterType="Numbers" ValidChars=" ">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, METER_DIALS%>" ItemStyle-Width="5%"
                                    ItemStyle-HorizontalAlign="Center" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblMeterDials" runat="server" Text='<%#Eval("MeterDials") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridDials" Visible="false" MaxLength="1"
                                            runat="server" placeholder="Enter Meter Dials"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="FilteredTextBoxExtender3a" runat="server" TargetControlID="txtGridDials"
                                            FilterType="Numbers" ValidChars=" ">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="Is CAPMI Meter?" ItemStyle-Width="5%" ItemStyle-HorizontalAlign="Center"
                                    ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblIsCAPMI" runat="server" Text='<%#Eval("IsCAPMIMeter") %>'></asp:Label>
                                        <asp:RadioButtonList ID="rblGIsCAPMI" runat="server" RepeatDirection="Horizontal"
                                            Style="width: 150px;" CssClass="input" Visible="false" OnSelectedIndexChanged="rblIsCAPMI_Changed"
                                            AutoPostBack="true">
                                            <asp:ListItem Text="Yes" Value="1"></asp:ListItem>
                                            <asp:ListItem Text="No" Value="2"></asp:ListItem>
                                        </asp:RadioButtonList>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="CAPMI Amount" ItemStyle-Width="5%" ItemStyle-HorizontalAlign="Center"
                                    ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblCAPMIAmount" runat="server" Text='<%#Eval("CAPMIAmount") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGAmount" TabIndex="12" MaxLength="12" runat="server"
                                            onkeypress="return isNumberKey(event,this)" onkeyup="GetCurrencyFormate(this);"
                                            Visible="false" onblur="GetCurrencyFormate(this);" placeholder="Enter CAPMI Amount"></asp:TextBox>
                                        <asp:FilteredTextBoxExtender ID="GFilteredTextBoxExtender1" runat="server" TargetControlID="txtGAmount"
                                            FilterType="Numbers,Custom" ValidChars=",.">
                                        </asp:FilteredTextBoxExtender>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, DETAILS%>" ItemStyle-Width="10%"
                                    ItemStyle-HorizontalAlign="Left" Visible="false" ItemStyle-CssClass="grid_tb_td">
                                    <ItemTemplate>
                                        <asp:Label ID="lblDetails" runat="server" Text='<%#Eval("Details") %>'></asp:Label>
                                        <asp:TextBox CssClass="text-box" ID="txtGridDetails" placeholder="Enter Details"
                                            runat="server" Visible="false" TextMode="MultiLine"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="<%$ Resources:Resource, GRID_ACTION%>" ItemStyle-Width="10%"
                                    ItemStyle-HorizontalAlign="Center">
                                    <ItemTemplate>
                                        <asp:Label ID="lblActiveStatus" runat="server" Text='<%#Eval("ActiveStatus") %>'
                                            Visible="false"></asp:Label>
                                        <asp:Label ID="lblHyphen" Text="--" Visible="false" runat="server"></asp:Label>
                                        <asp:LinkButton ID="lkbtnEdit" runat="server" ToolTip="Edit" Text="Edit" CommandName="EditMeter">
                                        <img src="../images/Edit.png" alt="Edit"/></asp:LinkButton>
                                        <asp:LinkButton ID="lkbtnUpdate" Visible="false" runat="server" ToolTip="Update"
                                            CommandName="UpdateMeter"><img src="../images/update.png" alt="Update" /></asp:LinkButton>
                                        <asp:LinkButton ID="lkbtnCancel" Visible="false" runat="server" ToolTip="Cancel"
                                            CommandName="CancelMeter"><img src="../images/cancel.png" alt="Cancel" /></asp:LinkButton>
                                        <asp:LinkButton ID="lkbtnActive" Visible="false" runat="server" ToolTip="Activate Meter Information"
                                            CommandName="ActiveMeter"><img src="../images/Activate.gif" alt="Active" /></asp:LinkButton>
                                        <asp:LinkButton ID="lkbtnDeActive" runat="server" ToolTip="DeActivate Meter Information"
                                            CommandName="DeActiveMeter"><img src="../images/Deactivate.gif" alt="DeActive" /></asp:LinkButton>
                                    </ItemTemplate>
                                </asp:TemplateField>
                            </Columns>
                        </asp:GridView>
                    </div>
                    <div class="grid_boxes">
                        <div id="divPaging2" runat="server">
                            <%--  <div class="grid_paging_bottom">
                                <uc1:ucpagingv1 id="UCPaging2" runat="server" />
                            </div>--%>
                        </div>
                    </div>
                </div>
                <div id="hidepopup">
                    <%-- Active Btn popup Start--%>
                    <asp:ModalPopupExtender ID="mpeActivate" runat="server" PopupControlID="PanelActivate"
                        TargetControlID="btnActivate" BackgroundCssClass="modalBackground" CancelControlID="btnActiveCancel">
                    </asp:ModalPopupExtender>
                    <asp:Button ID="btnActivate" runat="server" Text="Button" Style="display: none;" />
                    <asp:Panel ID="PanelActivate" runat="server" CssClass="modalPopup" Style="display: none;
                        border-color: #639B00;">
                        <div class="popheader" style="background-color: #639B00;">
                            <asp:Label ID="lblActiveMsg" runat="server"></asp:Label>
                        </div>
                        <br />
                        <div class="footer" align="right">
                            <div class="fltr popfooterbtn">
                                <asp:Button ID="btnActiveOk" runat="server" OnClick="btnActiveOk_Click" Text="<%$ Resources:Resource, OK%>"
                                    CssClass="ok_btn" />
                                <asp:Button ID="btnActiveCancel" runat="server" Text="<%$ Resources:Resource, CANCEL%>"
                                    CssClass="cancel_btn" />
                            </div>
                            <div class="clear pad_5">
                            </div>
                        </div>
                    </asp:Panel>
                    <%-- Active  Btn popup Closed--%>
                    <%-- DeActive  Btn popup Start--%>
                    <asp:ModalPopupExtender ID="mpeDeActive" runat="server" PopupControlID="PanelDeActivate"
                        TargetControlID="btnDeActivate" BackgroundCssClass="modalBackground" CancelControlID="btnDeActiveCancel">
                    </asp:ModalPopupExtender>
                    <asp:Button ID="btnDeActivate" runat="server" Text="Button" Style="display: none;" />
                    <asp:Panel ID="PanelDeActivate" runat="server" CssClass="modalPopup" Style="display: none;
                        border-color: #639B00;">
                        <div class="popheader" style="background-color: red;">
                            <asp:Label ID="lblDeActiveMsg" runat="server"></asp:Label>
                        </div>
                        <div class="footer" align="right">
                            <div class="fltr popfooterbtn">
                                <br />
                                <asp:Button ID="btnDeActiveOk" runat="server" OnClick="btnDeActiveOk_Click" Text="<%$ Resources:Resource, OK%>"
                                    CssClass="ok_btn" />
                                <asp:Button ID="btnDeActiveCancel" runat="server" Text="<%$ Resources:Resource, CANCEL%>"
                                    CssClass="cancel_btn" />
                            </div>
                            <div class="clear pad_5">
                            </div>
                        </div>
                    </asp:Panel>
                    <%-- DeActive  popup Closed--%>
                    <%-- Grid Alert popup Start--%>
                    <asp:ModalPopupExtender ID="mpegridalert" runat="server" PopupControlID="Panelgridalert"
                        TargetControlID="btngridalert" BackgroundCssClass="modalBackground" CancelControlID="btngridalertok">
                    </asp:ModalPopupExtender>
                    <asp:Button ID="btngridalert" runat="server" Text="Button" Style="display: none;" />
                    <asp:Panel ID="Panelgridalert" runat="server" CssClass="modalPopup" Style="display: none;">
                        <div class="popheader popheaderlblred">
                            <asp:Label ID="lblgridalertmsg" runat="server"></asp:Label>
                        </div>
                        <div class="footer popfooterbtnrt">
                            <div class="fltr popfooterbtn">
                                <asp:Button ID="btngridalertok" runat="server" Text="<%$ Resources:Resource, OK%>"
                                    CssClass="ok_btn" />
                            </div>
                            <div class="clear pad_5">
                            </div>
                        </div>
                    </asp:Panel>
                    <%-- Grid Alert popup Closed--%>
                </div>
                <%--Variables decleration starts--%>
                <asp:HiddenField ID="hfPageSize" runat="server" />
                <asp:HiddenField ID="hfPageNo" runat="server" />
                <asp:HiddenField ID="hfLastPage" runat="server" />
                <asp:HiddenField ID="hfTotalRecords" Value="0" runat="server" />
                <asp:HiddenField ID="hfId" runat="server" />
            </ContentTemplate>
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="gvMetersList" EventName="RowCommand" />
            </Triggers>
        </asp:UpdatePanel>
    </div>
    <%--Variables decleration ends--%>
    <%--==============Escape button script starts==============--%>
    <%--==============Validation script starts==============--%>
    <script src="../Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.ui.core.js" type="text/javascript"></script>
    <link href="../Styles/Calendar.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery.ui.datepicker.js" type="text/javascript"></script>
    <%--==============Validation script ends==============--%>
    <%--==============Ajax loading script starts==============--%>
    <script type="text/javascript">
        $(document).keydown(function (e) {
            // ESCAPE key pressed 
            if (e.keyCode == 27) {
                $(".hidepopup").fadeOut("slow");
                $(".modalPopup").fadeOut("slow");
                $(".modalBackground").fadeOut("slow");
                document.getElementById("overlay").style.display = "none";
            }
        });
    </script>
    <%--==============Escape button script ends==============--%>
    <script type="text/javascript">
        var prm = Sys.WebForms.PageRequestManager.getInstance();
        //Raised before processing of an asynchronous postback starts and the postback request is sent to the server.
        prm.add_beginRequest(BeginRequestHandler);
        // Raised after an asynchronous postback is finished and control has been returned to the browser.
        prm.add_endRequest(EndRequestHandler);
        function BeginRequestHandler(sender, args) {
            //Shows the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.show();
            }
        }

        function EndRequestHandler(sender, args) {
            //Hide the modal popup - the update progress
            var popup = $find('<%= modalPopupLoading.ClientID %>');
            if (popup != null) {
                popup.hide();
            }
        }
   
    </script>
    <%--==============Ajax loading script ends==============--%>
    <%--==============Validation script ref starts==============--%>
    <script src="../JavaScript/PageValidations/MeterInformation.js" type="text/javascript"></script>
    <%--==============Validation script ref ends==============--%>
    <%--<script type="text/javascript">
            function calanderfunc() {
                $(document).ready(function () {
                    DatePicker($('#<%=txtNextDate.ClientID %>'), $('#<%=imgDate.ClientID %>'));
                });
                var prm = Sys.WebForms.PageRequestManager.getInstance();
                prm.add_endRequest(function () {
                    DatePicker($('#<%=txtNextDate.ClientID %>'), $('#<%=imgDate.ClientID %>'));
                });

            }
    </script>--%>
</asp:Content>
