﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/EBMS.Master"  Theme="Green"
AutoEventWireup="true" CodeBehind="MonthlyReports.aspx.cs" Inherits="UMS_Nigeria.Reports.MonthlyReports" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
<div class="out-bor">
<div class="text_total">
                        <div class="text-heading">
                            <asp:Literal ID="litSearchCustomer" runat="server" Text="Monthly Reports"></asp:Literal>
                        </div>
                        <div class="star_text">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="dot-line">
                    </div>
                   <div class="monthlyReports">
              <table class="monthTablebill">
  <tr class="monthlyReports_table">
				<th style="width:25%;border: 1px solid #ccc;" scope="col">Report Code</th><th style="border: 1px solid #ccc;" scope="col">Details</th><th style="width:25%;border: 1px solid #ccc;" scope="col">Last Bill Month</th>
			</tr>
  <tr>
    <td><a href="#">NarasimhaT</a></td>
    <td>XXXXXXXXXX</td>
    <td>XXXXXXXXXXXXX</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
                   </div>
                    </div>

</asp:Content>
