﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TariffBUReportTest.aspx.cs" Inherits="UMS_Nigeria.Reports.TariffBUReportTest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="gvTReport" runat="server" AutoGenerateColumns="false">
        <Columns>
        
        </Columns>
        </asp:GridView>
    </div>
    </form>
</body>
</html>
