﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/EDMUMS.Master" AutoEventWireup="true"
    CodeBehind="TariffBUReportTest1.aspx.cs" Inherits="UMS_Nigeria.Reports.TariffBUReportTest1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="UMSNigeriaBody" runat="server">
    <br />
    <br />
    <br />
    <asp:GridView ID="gvTReport" runat="server" AutoGenerateColumns="true">
        <EmptyDataTemplate>
            No Records Found.
        </EmptyDataTemplate>
    </asp:GridView>
</asp:Content>
