﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserDefinedControls.ascx.cs"
    Inherits="UMS_Nigeria.UserControls.UserDefinedControls" %>
<div class="clr">
</div>
<%--<div id="GrandParent" runat="server">
</div>--%>
<asp:HiddenField ID="hfControlsID" runat="server" />
<%--    <div id="divContainer" runat="server" class="inner-box1">
        <div class="text-inner">
        </div>
        <br />
        <span id="span3" class="span_color"></span>
    </div>--%>
